<template>
  <div id="app">
    <component v-bind:is="layout" />
  </div>
</template>

<script>
export default {
  name: "App",

  components: {},

  data: () => ({}),

  created() {
    this.$date.locale("id");
  },

  computed: {
    layout() {
      return this.$route.meta.layout;
    },
  },

  methods: {},
};
</script>
<style>
.currency-text-right input {
  text-align: right !important;
}

.theme--light.v-skeleton-loader .v-skeleton-loader__avatar,
.theme--light.v-skeleton-loader .v-skeleton-loader__button,
.theme--light.v-skeleton-loader .v-skeleton-loader__chip,
.theme--light.v-skeleton-loader .v-skeleton-loader__divider,
.theme--light.v-skeleton-loader .v-skeleton-loader__heading,
.theme--light.v-skeleton-loader .v-skeleton-loader__image,
.theme--light.v-skeleton-loader .v-skeleton-loader__text {
  background: rgb(127 127 127 / 12%) !important;
}

.theme--light.v-divider {
  border-color: rgb(84 84 84 / 12%) !important;
}

.v-list .v-list-item--active {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff !important;
}

.theme--light.v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr:not(:last-child)
  > td:last-child,
.theme--light.v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr:not(:last-child)
  > td:not(.v-data-table__mobile-row),
.theme--light.v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr:not(:last-child)
  > th:last-child,
.theme--light.v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr:not(:last-child)
  > th:not(.v-data-table__mobile-row),
.theme--light.v-data-table
  > .v-data-table__wrapper
  > table
  > thead
  > tr:last-child
  > th {
  border-bottom: thin solid rgba(0, 0, 0, 0.12) !important;
}
</style>