<template>
  <div>
    <section>
      <v-dialog
        scrollable
        v-model="$store.state.dialogAddProduct"
        persistent
        max-width="600"
      >
        <v-form ref="formCreate" @keyup.native.enter="doCreate()">
          <AddCategory @updateCategory="updateCategory" :from="'product'" />
          <v-card class="rounded-lg">
            <v-card-title>
              <h4>Tambah Produk</h4>
              <v-spacer></v-spacer>
              <v-btn
                depressed
                icon
                :disabled="loading"
                @click="closeDialogCreated()"
              >
                <v-icon>mdi-close-thick</v-icon>
              </v-btn>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text style="height: 500px">
              <v-container>
                <!-- Tabs -->
                <v-row class="justify-center">
                  <v-col>
                    <v-btn
                      @click="tabs = 'add'"
                      :color="tabs == 'add' ? 'my-green-button' : ''"
                      :rounded="tabs == 'add' ? true : false"
                      :dark="tabs == 'add' ? true : false"
                      :text="tabs == 'add' ? false : true"
                    >
                      Input Produk
                    </v-btn>
                  </v-col>
                  <v-col>
                    <v-btn
                      @click="tabs = 'recipe'"
                      :color="tabs == 'recipe' ? 'my-green-button' : ''"
                      :rounded="tabs == 'recipe' ? true : false"
                      :dark="tabs == 'recipe' ? true : false"
                      :text="tabs == 'recipe' ? false : true"
                    >
                      Input Resep
                    </v-btn>
                  </v-col>
                  <v-col>
                    <v-btn
                      @click="tabs = 'addon'"
                      :color="tabs == 'addon' ? 'my-green-button' : ''"
                      :rounded="tabs == 'addon' ? true : false"
                      :dark="tabs == 'addon' ? true : false"
                      :text="tabs == 'addon' ? false : true"
                    >
                      Input Addons
                    </v-btn>
                  </v-col>
                </v-row>

                <!-- Add Form -->
                <v-row v-if="tabs == 'add'">
                  <!-- Left Form -->
                  <v-col class="pb-0" cols="12" sm="6" md="6">
                    <v-text-field
                      label="Nama Produk *"
                      type="text"
                      v-model="add.input.name"
                      name="name"
                      required
                      :error-messages="add.feedback.data.name"
                      filled
                      dense
                      clearable
                      :loading="loading"
                    ></v-text-field>
                    <v-currency-field
                      class="currency-text-right"
                      label="Harga Beli"
                      v-model="add.input.purchasePrice"
                      name="purchasePrice"
                      prefix="Rp"
                      :error-messages="add.feedback.data.purchasePrice"
                      filled
                      dense
                      :loading="loading"
                    />
                    <!-- <v-select
                    :items="itemsDiscount"
                    v-model="add.input.typeDiscount"
                    label="Jenis Diskon"
                    name="typeDiscount"
                    filled
                    dense
                    clearable
                    attach
                    :loading="loading"
                  ></v-select> -->
                    <v-text-field
                      label="Satuan"
                      type="text"
                      v-model="add.input.unit"
                      name="unit"
                      :error-messages="add.feedback.data.unit"
                      filled
                      dense
                      :loading="loading"
                    ></v-text-field>
                    <!-- <v-select
                    :items="itemsTypeProduct"
                    v-model="add.input.typeProduct"
                    label="Tipe Produk"
                    name="typeProduct"
                    :error-messages="add.feedback.data.typeProduct"
                    filled
                    dense
                    clearable
                    attach
                    :loading="loading"
                  ></v-select> -->
                  </v-col>

                  <!-- Right Form -->
                  <v-col class="pb-0" cols="12" sm="6" md="6">
                    <table>
                      <tr>
                        <td>
                          <v-select
                            :items="categoryData"
                            v-model="add.input.category"
                            label="Kategori *"
                            name="category"
                            :error-messages="add.feedback.data.category"
                            filled
                            dense
                            clearable
                            attach
                            item-color="#fff"
                            :loading="loading"
                          ></v-select>
                        </td>
                        <td style="vertical-align: top" class="pl-2 pt-2">
                          <v-btn
                            color="my-blue-button white--text"
                            depressed
                            fab
                            small
                            @click="
                              $store.state.dialogAddCategory = true;
                              $store.state.dialogAddProduct = false"
                          >
                            <v-icon> mdi-plus </v-icon>
                          </v-btn>
                        </td>
                      </tr>
                    </table>
                    <v-currency-field
                      class="currency-text-right"
                      label="Harga Jual *"
                      v-model="add.input.price"
                      name="price"
                      prefix="Rp"
                      :error-messages="add.feedback.data.price"
                      filled
                      dense
                      :loading="loading"
                    />
                    <!-- <v-currency-field
                    class="currency-text-right"
                    label="Nilai Diskon *"
                    onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                    v-model="add.input.valueDiscount"
                    name="valueDiscount"
                    prefix=""
                    :error-messages="add.feedback.data.valueDiscount"
                    filled
                    dense
                    :loading="loading"
                  /> -->
                    <!-- <v-text-field
                    label="Berat"
                    type="text"
                    v-model="add.input.weight"
                    name="weight"
                    :error-messages="add.feedback.data.weight"
                    filled
                    dense
                    :loading="loading"
                  ></v-text-field> -->
                    <v-text-field
                      label="Deskripsi"
                      type="text"
                      v-model="add.input.description"
                      name="description"
                      :error-messages="add.feedback.data.description"
                      filled
                      dense
                      clearable
                      :loading="loading"
                    ></v-text-field>
                  </v-col>

                  <!-- Config -->
                  <v-col cols="12" class="py-0">
                    <!-- Config Stock -->
                    <v-checkbox
                      class="mt-0"
                      v-model="add.input.isStockReduction"
                      :label="`Terapkan pengurangan stok`"
                      filled
                      dense
                      clearable
                      attach
                      :loading="loading"
                    ></v-checkbox>
                    <v-row>
                      <v-col cols="6" v-if="add.input.isStockReduction == true">
                        <v-currency-field
                          label="Stok Saat Ini *"
                          v-model="add.input.currentStock"
                          name="currentStock"
                          prefix=""
                          :error-messages="add.feedback.data.currentStock"
                          filled
                          dense
                          clearable
                          :loading="loading"
                        />
                      </v-col>
                      <v-col cols="6" v-if="add.input.isStockReduction == true">
                        <v-currency-field
                          label="Stok Minimal *"
                          v-model="add.input.minStock"
                          name="minStock"
                          prefix=""
                          :error-messages="add.feedback.data.minStock"
                          filled
                          dense
                          :loading="loading"
                          clearable
                        />
                      </v-col>
                    </v-row>

                    <!-- Config Sales Type -->
                    <v-checkbox
                      class="mt-0"
                      v-model="add.input.typeSales"
                      :label="`Terapkan tipe penjualan`"
                      filled
                      dense
                      clearable
                      attach
                      :loading="loading"
                    ></v-checkbox>

                    <!-- Confif Product is Not Sale -->
                    <v-checkbox
                      class="mt-0"
                      v-model="add.input.isNotSale"
                      :label="`Terapkan untuk tidak dijual`"
                      filled
                      dense
                      clearable
                      attach
                      :loading="loading"
                    ></v-checkbox>
                  </v-col>
                  <v-col cols="12">
                    <div class="d-flex justify-center">
                      <TheInputImage
                        label="Pilih"
                        previewHeight="150"
                        :previewValue="add.input.img"
                        @change="imgUrl"
                      />
                    </div>
                  </v-col>
                </v-row>

                <v-row v-if="tabs == 'recipe'">
                  <v-col>
                    <v-form>
                      <v-container>
                        <v-row>
                          <v-col cols="12">
                            <v-text-field
                              label="Nama Produk"
                              type="text"
                              v-model="add.input.name"
                              name="name"
                              required
                              :error-messages="add.feedback.data.name"
                              filled
                              dense
                              readonly
                              :loading="loading"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" class="pb-0">
                            <v-autocomplete
                              v-model="add.input.arrayProductRecipe"
                              :items="productRecipe"
                              item-text="product_name"
                              item-value="product_id"
                              filled
                              :loading="loading"
                              dense
                              clearable
                              return-object
                              small-chips
                              multiple
                              label="Nama Bahan"
                            >
                            </v-autocomplete>
                          </v-col>
                          <v-col cols="12" class="pt-0">
                            <table
                              style="width: 100%; margin-top: 1rem"
                              v-for="(item, index) in add.input
                                .arrayProductRecipe"
                              :key="index"
                            >
                              <tr>
                                <td>
                                  <p class="font-weight-bold">
                                    {{ item.product_name }} ({{
                                      item.product_unit
                                    }})
                                  </p>
                                </td>
                              </tr>
                              <tr>
                                <td style="width: 40%; padding-right: 6px">
                                  <v-currency-field
                                    id="right"
                                    dense
                                    outlined
                                    label="Kuantitas"
                                    onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                                    v-model="
                                      add.input.productRecipeQty[
                                        item.product_id
                                      ]
                                    "
                                    required
                                    hide-details
                                    :loading="loading"
                                  />
                                </td>
                                <td style="width: 40%; padding-left: 6px">
                                  <v-text-field
                                    label="Catatan"
                                    dense
                                    outlined
                                    v-model="
                                      add.input.productRecipeNote[
                                        item.product_id
                                      ]
                                    "
                                    hide-details
                                    :loading="loading"
                                  >
                                  </v-text-field>
                                </td>
                              </tr>
                            </table>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-form>
                  </v-col>
                </v-row>

                <v-row v-if="tabs == 'addon'">
                  <v-col
                    cols="12"
                    class="text-left justify-space-between pt-0 pb-0"
                  >
                    <v-btn
                      color="blue darken-4 text-capitalize"
                      class="mt-2 my-yellow-button"
                      @click="addAddons()"
                      rounded
                    >
                      <v-icon> mdi-plus </v-icon>
                      Tambah addons
                    </v-btn>
                  </v-col>
                  <v-col class="pt-0 pb-0">
                    <v-form>
                      <v-container>
                        <v-row
                          v-for="(itemToping, index) in add.input.itemAddons"
                          :key="index"
                        >
                          <v-col cols="12" sm="5" md="5">
                            <v-text-field
                              class="mt-0 pt-0"
                              label="Nama Addons"
                              type="text"
                              v-model="add.input.itemAddons[index].addonsName"
                              name="addonsName"
                              :error-messages="
                                add.feedback.data.itemAddons[index].addonsName
                              "
                              :loading="loading"
                              filled
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col class="d-flex" cols="12" sm="5" md="5">
                            <v-currency-field
                              class="mt-0 pt-0 currency-text-right"
                              label="Harga"
                              onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                              v-model="add.input.itemAddons[index].addonsPrice"
                              name="addonsPrice"
                              prefix="Rp"
                              :loading="loading"
                              :error-messages="
                                add.feedback.data.itemAddons[index].addonsPrice
                              "
                              filled
                              dense
                            />
                          </v-col>
                          <v-col cols="12" sm="2" md="2">
                            <v-btn
                              rounded
                              color="my-red-button"
                              class="mt-2"
                              @click="deleteAddons(index)"
                            >
                              <v-icon> mdi-delete </v-icon>
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-form>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <small class="ml-3"><i>Isian bertanda (*) wajib diisi</i></small>
              <v-spacer></v-spacer>
              <v-btn
                class="my-blue-button"
                rounded
                @click="doCreate()"
                :loading="loading"
                ><v-icon class="mr-2">mdi-content-save</v-icon>Simpan</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-form>
      </v-dialog>
    </section>
  </div>
</template>

<script>
import TheInputImage from "@/components/TheInputImage";
import AddCategory from "@/components/category/AddCategory";
export default {
  components: {
    TheInputImage,
    AddCategory,
  },
  props: {
    category: Array,
    productRecipe: Array,
  },
  data() {
    return {
      loading: false,
      tabs: "add",
      add: {
        input: {
          name: "",
          purchasePrice: 0,
          typeDiscount: "",
          unit: "Pcs",
          typeProduct: "Persediaan",
          typeSales: true,
          isNotSale: false,
          category: "",
          price: 0,
          valueDiscount: 0,
          weight: 0,
          description: "",
          isStockReduction: true,
          currentStock: 0,
          minStock: 0,
          img: "",
          // Tabs Recipe
          arrayProductRecipe: [],
          productRecipeQty: {},
          productRecipeNote: {},
          // Addons
          arrayAddons: [],
          itemAddons: [
            {
              addonsName: "",
              addonsPrice: "",
            },
          ],
        },
        feedback: {
          data: {
            name: "",
            purchasePrice: "",
            typeDiscount: "",
            unit: "",
            typeProduct: "",
            typeSales: "",
            isNotSale: "",
            category: "",
            price: "",
            valueDiscount: "",
            weight: "",
            description: "",
            isStockReduction: "",
            currentStock: "",
            img: "",
            // Addons
            itemAddons: [
              {
                addonsName: "",
                addonsPrice: "",
              },
            ],
          },
        },
      },
      itemsDiscount: ["Persen", "Nominal"],
      itemsTypeProduct: ["Persediaan", "Bahan", "Jasa"],
      categoryData: [],
    };
  },

  mounted() {},

  computed: {},
  watch: {
    "$store.state.dialogAddProduct": function (val) {
      if (val) {
        this.getCategoryProduct();
      }
    },
  },
  methods: {
    imgUrl(val) {
      toString((this.add.input.img = val.path));
      // toString(this.update.input.img = val.path)
    },

    async updateCategory(val) {
      await this.getCategoryProduct();
      this.add.input.category = val.response.result.category_id.toString();
    },

    async doCreate() {
      this.loading = true;

      let data = {};
      let input = this.add.input;
      let itemToping = itemToping;
      let productJson = [];
      let addonsJson = [];

      input.arrayProductRecipe.forEach((element) => {
        let dataProduct = {
          recipe_id: element.product_id,
          qty: input.productRecipeQty[element.product_id],
          note: input.productRecipeNote[element.product_id]
            ? input.productRecipeNote[element.product_id]
            : "",
          unit: element.product_unit,
        };
        productJson.push(dataProduct);
      });

      input.itemAddons.forEach((element) => {
        let dataAddons = {
          name: element.addonsName,
          price: element.addonsPrice ? element.addonsPrice : "0",
        };
        addonsJson.push(dataAddons);
      });

      data.productJson = JSON.stringify(productJson);
      data.addonsJson = JSON.stringify(addonsJson);
      data.name = input.name;
      data.category = input.category;
      data.img = input.img;
      data.price = input.price;
      data.purchasePrice = input.purchasePrice;
      data.description = input.description;
      data.unit = input.unit;
      data.typeDiscount = input.typeDiscount;
      data.valueDiscount = input.valueDiscount;
      if (!input.typeDiscount) {
        data.valueDiscount = 0;
      }
      data.weight = input.weight;
      data.typeProduct = input.typeProduct;
      data.typeSales = input.typeSales;
      data.isNotSale = input.isNotSale;
      data.isStockReduction = input.isStockReduction;
      data.minStock = 0;
      data.currentStock = 0;
      if (input.isStockReduction) {
        data.minStock = input.minStock;
        data.currentStock = input.currentStock;
      }

      await this.axios
        .post("product/create", data)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.$store.state.dialogAddProduct = false;
              this.resetForm();
              this.$emit(`addResult`, {
                snackbar: {
                  status: "success",
                  msg: data.msg,
                },
                refresh: "productGrid",
              });
              break;
            case "validation":
              this.add.feedback.msg = data.msg;
              this.add.feedback.data.name = data.result.error.name;
              this.add.feedback.data.category = data.result.error.category;
              this.add.feedback.data.price = data.result.error.price;
              this.add.feedback.data.valueDiscount =
                data.result.error.valueDiscount;
              this.add.feedback.data.currentStock =
                data.result.error.currentStock;
              this.add.feedback.data.minStock = data.result.error.minStock;
              break;
            case "failed":
              this.$emit(`addResult`, {
                snackbar: {
                  status: "error",
                  msg: data.msg,
                },
                refresh: "productGrid",
              });
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.loading = false;
    },

    resetForm() {
      let defaultInput = {
        name: "",
        purchasePrice: 0,
        typeDiscount: 0,
        unit: "Pcs",
        typeProduct: "Persediaan",
        typeSales: true,
        isNotSale: false,
        category: "",
        price: 0,
        valueDiscount: 0,
        weight: 0,
        description: "",
        isStockReduction: true,
        currentStock: 0,
        minStock: 0,
        img: "",
        // Tabs Recipe
        arrayProductRecipe: [],
        productRecipeQty: {},
        productRecipeNote: {},
        // Addons
        arrayAddons: [],
        itemAddons: [
          {
            addonsName: "",
            addonsPrice: "",
          },
        ],
      };

      this.add.input = Object.assign({}, defaultInput);
    },

    closeDialogCreated() {
      this.$store.state.dialogAddProduct = false;
    },

    async addAddons() {
      this.add.input.itemAddons.push({
        addonsName: "",
        addonsPrice: "",
      });
      this.add.feedback.data.itemAddons.push({
        addonsName: "",
        addonsPrice: "",
      });
    },

    async deleteAddons(index) {
      this.add.input.itemAddons.splice(index, 1);
      this.add.feedback.data.itemAddons.splice(index, 1);
    },

    async getCategoryProduct() {
      this.loading = true;
      await this.axios
        .get("category/options", {
          params: {},
        })
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.categoryData = Object.values(data.result);
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.loading = false;
    },
  },
};
</script>

<style>
</style>