<template>
  <section>
    <v-dialog
      scrollable
      v-model="$store.state.dialogUpdateProduct"
      persistent
      max-width="600"
    >
      <v-form ref="formCreate" @keyup.native.enter="doCreate()">
        <AddCategory @updateCategory="updateCategory" :from="'product-edit'" />
        <v-card class="rounded-lg">
          <v-card-title>
            <h4>Ubah Produk</h4>
            <v-spacer></v-spacer>
            <v-btn
              depressed
              icon
              :disabled="loading"
              @click="closeDialogCreated()"
            >
              <v-icon>mdi-close-thick</v-icon>
            </v-btn>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text style="height: 500px">
            <v-container>
              <!-- Tabs -->
              <v-row class="justify-center">
                <v-col>
                  <v-btn
                    @click="tabs = 'add'"
                    :color="tabs == 'add' ? 'my-green-button' : ''"
                    :rounded="tabs == 'add' ? true : false"
                    :dark="tabs == 'add' ? true : false"
                    :text="tabs == 'add' ? false : true"
                  >
                    Input Produk
                  </v-btn>
                </v-col>
                <v-col>
                  <v-btn
                    @click="tabs = 'recipe'"
                    :color="tabs == 'recipe' ? 'my-green-button' : ''"
                    :rounded="tabs == 'recipe' ? true : false"
                    :dark="tabs == 'recipe' ? true : false"
                    :text="tabs == 'recipe' ? false : true"
                  >
                    Input Resep
                  </v-btn>
                </v-col>
                <v-col>
                  <v-btn
                    @click="tabs = 'addon'"
                    :color="tabs == 'addon' ? 'my-green-button' : ''"
                    :rounded="tabs == 'addon' ? true : false"
                    :dark="tabs == 'addon' ? true : false"
                    :text="tabs == 'addon' ? false : true"
                  >
                    Input Addons
                  </v-btn>
                </v-col>
              </v-row>

              <!-- Add Form -->
              <v-row v-if="tabs == 'add'">
                <!-- Left Form -->
                <v-col class="pb-0" cols="12" sm="6" md="6">
                  <v-text-field
                    label="Nama Produk *"
                    type="text"
                    v-model="updated.input.name"
                    name="name"
                    required
                    :error-messages="updated.feedback.data.name"
                    filled
                    dense
                    clearable
                    :loading="loading"
                  ></v-text-field>
                  <v-currency-field
                    class="currency-text-right"
                    label="Harga Beli"
                    v-model="updated.input.purchasePrice"
                    name="purchasePrice"
                    prefix="Rp"
                    :error-messages="updated.feedback.data.purchasePrice"
                    filled
                    dense
                    :loading="loading"
                  />
                  <!-- <v-select
                    :items="itemsDiscount"
                    v-model="updated.input.typeDiscount"
                    label="Jenis Diskon"
                    name="typeDiscount"
                    filled
                    dense
                    clearable
                    attach
                    :loading="loading"
                  ></v-select> -->
                  <v-text-field
                    label="Satuan"
                    type="text"
                    v-model="updated.input.unit"
                    name="unit"
                    :error-messages="updated.feedback.data.unit"
                    filled
                    dense
                    :loading="loading"
                  ></v-text-field>
                  <!-- <v-select
                    :items="itemsTypeProduct"
                    v-model="updated.input.typeProduct"
                    label="Tipe Produk"
                    name="typeProduct"
                    :error-messages="updated.feedback.data.typeProduct"
                    filled
                    dense
                    clearable
                    attach
                    :loading="loading"
                  ></v-select> -->
                </v-col>

                <!-- Right Form -->
                <v-col class="pb-0" cols="12" sm="6" md="6">
                  <table>
                    <tr>
                      <td>
                        <v-select
                          :items="categoryData"
                          v-model="updated.input.category"
                          label="Kategori *"
                          name="category"
                          :error-messages="updated.feedback.data.category"
                          filled
                          dense
                          clearable
                          attach
                          item-color="#fff"
                          :loading="loading"
                        ></v-select>
                      </td>
                      <td style="vertical-align: top" class="pl-2 pt-2">
                        <v-btn
                          color="my-blue-button white--text"
                          depressed
                          fab
                          small
                          @click="
                            $store.state.dialogAddCategory = true
                            $store.state.dialogUpdateProduct = false"
                        >
                          <v-icon> mdi-plus </v-icon>
                        </v-btn>
                      </td>
                    </tr>
                  </table>
                  <v-currency-field
                    class="currency-text-right"
                    label="Harga Jual*"
                    v-model="updated.input.price"
                    name="price"
                    prefix="Rp"
                    :error-messages="updated.feedback.data.price"
                    filled
                    dense
                    :loading="loading"
                  />
                  <!-- <v-currency-field
                    class="currency-text-right"
                    label="Nilai Diskon *"
                    v-model="updated.input.valueDiscount"
                    name="valueDiscount"
                    prefix=""
                    :error-messages="updated.feedback.data.valueDiscount"
                    filled
                    dense
                    :loading="loading"
                  /> -->
                  <!-- <v-text-field
                    label="Berat"
                    type="text"
                    v-model="updated.input.weight"
                    name="weight"
                    :error-messages="updated.feedback.data.weight"
                    filled
                    dense
                    :loading="loading"
                  ></v-text-field> -->
                  <v-text-field
                    label="Deskripsi"
                    type="text"
                    v-model="updated.input.description"
                    name="description"
                    :error-messages="updated.feedback.data.description"
                    filled
                    dense
                    clearable
                    :loading="loading"
                  ></v-text-field>
                </v-col>

                <!-- Config -->
                <v-col cols="12" class="py-0">
                  <!-- Config Stock -->
                  <v-checkbox
                    class="mt-0"
                    v-model="updated.input.isStockReduction"
                    :label="`Terapkan pengurangan stok`"
                    filled
                    dense
                    clearable
                    attach
                    :loading="loading"
                  ></v-checkbox>
                  <v-row>
                    <!-- <v-col cols="6" v-if="updated.input.isStockReduction == true">
                      <v-currency-field
                        label="Stok Saat Ini *"
                        onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                        v-model="updated.input.currentStock"
                        name="currentStock"
                        prefix=""
                        :error-messages="updated.feedback.data.currentStock"
                        filled
                        dense
                        clearable
                        :loading="loading"
                      />
                    </v-col> -->
                    <v-col
                      cols="6"
                      v-if="updated.input.isStockReduction == true"
                    >
                      <v-currency-field
                        label="Stok Minimal *"
                        v-model="updated.input.minStock"
                        name="minStock"
                        prefix=""
                        :error-messages="updated.feedback.data.minStock"
                        filled
                        dense
                        :loading="loading"
                        clearable
                      />
                    </v-col>
                  </v-row>

                  <!-- Config Sales Type -->
                  <v-checkbox
                    class="mt-0"
                    v-model="updated.input.typeSales"
                    :label="`Terapkan tipe penjualan`"
                    filled
                    dense
                    clearable
                    attach
                    :loading="loading"
                  ></v-checkbox>

                  <!-- Confif Product is Sale -->
                  <v-checkbox
                    class="mt-0"
                    v-model="updated.input.isNotSale"
                    :label="`Terapkan untuk tidak dijual`"
                    filled
                    dense
                    clearable
                    attach
                    :loading="loading"
                  ></v-checkbox>
                </v-col>
                <v-col cols="12">
                  <div class="d-flex justify-center">
                    <TheInputImage
                      label="Pilih"
                      previewHeight="150"
                      :previewValue="updated.input.img"
                      @change="imgUrl"
                    />
                  </div>
                </v-col>
              </v-row>

              <v-row v-if="tabs == 'recipe'">
                <v-col>
                  <v-form>
                    <v-container>
                      <v-row>
                        <v-col cols="12">
                          <v-text-field
                            label="Nama Produk"
                            type="text"
                            v-model="updated.input.name"
                            name="name"
                            required
                            :error-messages="updated.feedback.data.name"
                            filled
                            dense
                            readonly
                            :loading="loading"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" class="pb-0">
                          <v-autocomplete
                            v-model="updated.input.arrayProductRecipe"
                            :items="productRecipe"
                            item-text="product_name"
                            item-value="product_id"
                            filled
                            :loading="loading"
                            dense
                            clearable
                            return-object
                            small-chips
                            multiple
                            label="Nama Bahan"
                          >
                          </v-autocomplete>
                        </v-col>
                        <v-col cols="12" class="pt-0">
                          <table
                            style="width: 100%; margin-top: 1rem"
                            v-for="(item, index) in updated.input
                              .arrayProductRecipe"
                            :key="index"
                          >
                            <tr>
                              <td>
                                <p class="font-weight-bold">
                                  {{ item.product_name }} ({{
                                    item.product_unit
                                  }})
                                </p>
                              </td>
                            </tr>
                            <tr>
                              <td style="width: 40%; padding-right: 6px">
                                <v-currency-field
                                  id="right"
                                  dense
                                  outlined
                                  label="Kuantitas"
                                  onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                                  v-model="
                                    updated.input.productRecipeQty[
                                      item.product_id
                                    ]
                                  "
                                  required
                                  hide-details
                                  :loading="loading"
                                />
                              </td>
                              <td style="width: 40%; padding-left: 6px">
                                <v-text-field
                                  label="Catatan"
                                  dense
                                  outlined
                                  v-model="
                                    updated.input.productRecipeNote[
                                      item.product_id
                                    ]
                                  "
                                  hide-details
                                  :loading="loading"
                                >
                                </v-text-field>
                              </td>
                            </tr>
                          </table>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-form>
                </v-col>
              </v-row>

              <v-row v-if="tabs == 'addon'">
                <v-col
                  cols="12"
                  class="text-left justify-space-between pt-0 pb-0"
                >
                  <v-btn
                    color="blue darken-4 text-capitalize"
                    class="mt-2 my-yellow-button"
                    @click="addAddons()"
                    rounded
                  >
                    <v-icon> mdi-plus </v-icon>
                    Tambah addons
                  </v-btn>
                </v-col>
                <v-col class="pt-0 pb-0">
                  <v-form>
                    <v-container>
                      <v-row
                        v-for="(itemToping, index) in updated.input.itemAddons"
                        :key="index"
                      >
                        <v-col cols="12" sm="5" md="5">
                          <v-text-field
                            class="mt-0 pt-0"
                            label="Toping"
                            type="text"
                            v-model="updated.input.itemAddons[index].addonsName"
                            name="addonsName"
                            :loading="loading"
                            filled
                            dense
                          ></v-text-field>
                        </v-col>
                        <v-col class="d-flex" cols="12" sm="5" md="5">
                          <v-currency-field
                            class="mt-0 pt-0 currency-text-right"
                            label="Harga"
                            v-model="
                              updated.input.itemAddons[index].addonsPrice
                            "
                            name="addonsPrice"
                            prefix="Rp"
                            :loading="loading"
                            filled
                            dense
                          />
                        </v-col>
                        <v-col cols="12" sm="2" md="2">
                          <v-btn
                            rounded
                            color="my-red-button mt-2"
                            class="ml-2"
                            @click="deleteAddons(index)"
                            dark
                          >
                            <v-icon> mdi-delete </v-icon>
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-form>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <small class="ml-3"><i>Isian bertanda (*) wajib diisi</i></small>
            <v-spacer></v-spacer>
            <v-btn
              class="my-blue-button"
              rounded
              @click="doUpdate()"
              :loading="loading"
              ><v-icon class="mr-2">mdi-content-save</v-icon>Simpan</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </section>
</template>

<script>
import TheInputImage from "@/components/TheInputImage";
import AddCategory from "@/components/category/AddCategory";
export default {
  components: {
    TheInputImage,
    AddCategory,
  },
  props: {
    data: Object,
    category: Array,
    productRecipe: Array,
  },
  data() {
    return {
      loading: false,
      tabs: "add",
      updated: {
        input: {
          name: "",
          purchasePrice: 0,
          typeDiscount: 0,
          unit: "Pcs",
          typeProduct: "Persediaan",
          typeSales: true,
          isNotSale: false,
          category: "",
          price: 0,
          valueDiscount: 0,
          weight: 0,
          description: "",
          isStockReduction: true,
          currentStock: 0,
          minStock: 0,
          img: "",
          // Tabs Recipe
          arrayProductRecipe: [],
          productRecipeQty: {},
          productRecipeNote: {},
          // Addons
          arrayAddons: [],
          itemAddons: [
            {
              addonsName: "",
              addonsPrice: "",
            },
          ],
        },
        feedback: {
          data: {
            name: "",
            purchasePrice: "",
            typeDiscount: "",
            unit: "",
            typeProduct: "",
            typeSales: "",
            isNotSale: "",
            category: "",
            price: "",
            valueDiscount: "",
            weight: "",
            description: "",
            isStockReduction: "",
            currentStock: "",
            img: "",
            // Addons
            itemAddons: [
              {
                addonsName: "",
                addonsPrice: "",
              },
            ],
          },
        },
      },
      itemsDiscount: ["Persen", "Nominal"],
      itemsTypeProduct: ["Persediaan", "Bahan", "Jasa"],
      categoryData: [],
    };
  },
  computed: {
    dataProps(){
      return this.data
    }
  },
  watch: {
    "$store.state.dialogUpdateProduct": {
      handler(val) {
        if (val) {
          this.getCategoryProduct();
          this.setUpdateData();
        }
      },
    },
  },
  methods: {
    imgUrl(val) {
      toString((this.updated.input.img = val.path));
    },

    async updateCategory(val) {
      await this.getCategoryProduct();
      this.updated.input.category = val.response.result.category_id.toString();
    },

    setUpdateData() {
      let parseAddons = JSON.parse(this.dataProps.product_addons_json);
      parseAddons.forEach((element) => {
        element.addonsName = element.name;
        element.addonsPrice = element.price;
      });
      this.updated.input.productId = this.dataProps.product_id;
      this.updated.input.name = this.dataProps.product_name;
      this.updated.input.purchasePrice = this.dataProps.product_purchase_price;
      this.updated.input.typeDiscount = this.dataProps.product_discount_type;
      this.updated.input.unit = this.dataProps.product_unit;
      this.updated.input.typeProduct = this.dataProps.product_type;
      this.updated.input.typeSales =
        this.dataProps.product_sales_type == 0 ? false : true;
      this.updated.input.isNotSale = this.dataProps.product_is_on_sale == 0 ? true : false;
      this.updated.input.isStockReduction =
        this.dataProps.product_is_stock == 0 ? false : true;
      this.updated.input.category = this.dataProps.product_category_id;
      this.updated.input.price = this.dataProps.product_price;
      this.updated.input.valueDiscount = this.dataProps.product_discount_value;
      this.updated.input.weight = this.dataProps.product_weight;
      this.updated.input.description = this.dataProps.product_desc;
      this.updated.input.minStock = this.dataProps.stock_minimal;
      this.updated.input.itemAddons = parseAddons;
      this.updated.input.arrayProductRecipe = this.dataProps.recipeDetail;
      this.dataProps.recipeDetail.forEach((element) => {
        element.product_unit = element.product_composition_unit;
        element.product_id = element.product_composition_recipe_id;
        this.updated.input.productRecipeQty[
          element.product_composition_recipe_id
        ] = element.product_composition_qty;
        this.updated.input.productRecipeNote[
          element.product_composition_recipe_id
        ] = element.product_composition_note;
      });
    },

    async doUpdate() {
      this.loading = true;

      let data = {};
      let input = this.updated.input;
      let itemToping = itemToping;
      let productJson = [];
      let addonsJson = [];

      input.arrayProductRecipe.forEach((element) => {
        let dataProduct = {
          recipe_id: element.product_id,
          qty: input.productRecipeQty[element.product_id],
          note: input.productRecipeNote[element.product_id]
            ? input.productRecipeNote[element.product_id]
            : "",
          unit: element.product_unit,
        };
        productJson.push(dataProduct);
      });

      input.itemAddons.forEach((element) => {
        let dataAddons = {
          name: element.addonsName,
          price: element.addonsPrice ? element.addonsPrice : "0",
        };
        addonsJson.push(dataAddons);
      });

      data.productJson = JSON.stringify(productJson);
      data.addonsJson = JSON.stringify(addonsJson);
      data.id = this.data.product_id;
      data.name = input.name;
      data.category = input.category;
      data.img = input.img;
      data.price = input.price;
      data.purchasePrice = input.purchasePrice;
      data.description = input.description;
      data.unit = input.unit;
      data.typeDiscount = input.typeDiscount;
      data.valueDiscount = input.valueDiscount;
      if (!input.typeDiscount) {
        data.valueDiscount = 0;
      }
      data.weight = input.weight;
      data.typeProduct = input.typeProduct;
      data.typeSales = input.typeSales;
      data.isNotSale = input.isNotSale;
      data.isStockReduction = input.isStockReduction;
      data.minStock = 0;
      data.currentStock = 0;
      if (input.isStockReduction) {
        data.minStock = input.minStock;
        data.currentStock = input.currentStock;
      }

      await this.axios
        .post("product/update", data)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.$store.state.dialogUpdateProduct = false;
              this.resetForm();
              this.$emit(`addResult`, {
                snackbar: {
                  status: "success",
                  msg: data.msg,
                },
                refresh: "productGrid",
              });
              break;
            case "validation":
              this.updated.feedback.msg = data.msg;
              this.updated.feedback.data.name = data.result.error.name;
              this.updated.feedback.data.category = data.result.error.category;
              this.updated.feedback.data.price = data.result.error.price;
              this.updated.feedback.data.valueDiscount =
                data.result.error.valueDiscount;
              this.updated.feedback.data.currentStock =
                data.result.error.currentStock;
              this.updated.feedback.data.minStock = data.result.error.minStock;
              break;
            case "failed":
              this.$emit(`addResult`, {
                snackbar: {
                  status: "error",
                  msg: data.msg,
                },
                refresh: "productGrid",
              });
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.loading = false;
    },

    resetForm() {
      let defaultInput = {
        name: "",
        purchasePrice: 0,
        typeDiscount: 0,
        unit: "Pcs",
        typeProduct: "Persediaan",
        typeSales: true,
        isNotSale: false,
        category: "",
        price: 0,
        valueDiscount: 0,
        weight: 0,
        description: "",
        isStockReduction: true,
        currentStock: 0,
        minStock: 0,
        img: "",
        // Tabs Recipe
        arrayProductRecipe: [],
        productRecipeQty: {},
        productRecipeNote: {},
        // Addons
        arrayAddons: [],
        itemAddons: [
          {
            addonsName: "",
            addonsPrice: "",
          },
        ],
      };

      this.updated.input = Object.assign({}, defaultInput);
    },

    closeDialogCreated() {
      this.$store.state.dialogUpdateProduct = false;
    },

    async addAddons() {
      this.updated.input.itemAddons.push({
        addonsName: "",
        addonsPrice: "",
      });
      this.updated.feedback.data.itemAddons.push({
        addonsName: "",
        addonsPrice: "",
      });
    },

    async deleteAddons(index) {
      this.updated.input.itemAddons.splice(index, 1);
      this.updated.feedback.data.itemAddons.splice(index, 1);
    },

    async getCategoryProduct() {
      this.loading = true;
      await this.axios
        .get("category/options", {
          params: {},
        })
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.categoryData = Object.values(data.result);
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.loading = false;
    },
  },
};
</script>

<style>
</style>