<template>
  <div>
    <v-card class="cart-list pa-2 py-0">
      <v-card-title style="color: #424242" class="body-2 font-weight-medium">
        <v-skeleton-loader light type="text" :loading="loading" width="20%">
          {{ title }}</v-skeleton-loader
        >
      </v-card-title>
      <div style="justify-content: center">
        <div class="px-4" style="height: 300px" v-if="loading">
          <v-skeleton-loader
            light
            type="text"
            v-for="n in 6"
            :key="n"
            class="mt-8"
          ></v-skeleton-loader>
        </div>
        <apexchart
          height="300"
          :options="chartOptions"
          :series="series"
          :width="width"
          v-else
        >
        </apexchart>
      </div>
    </v-card>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: "",
    },
    type: {
      type: String,
      default: "",
    },
    width: {
      type: String,
      default: "100%",
    },
    data: {
      type: Array,
      default: [],
    },
    color: {
      type: Array,
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {};
  },
  computed: {
    series() {
      let bruto = {
        name: "Bruto",
        data: [],
      };
      let netto = {
        name: "Netto",
        data: [],
      };
      let profit = {
        name: "Profit",
        data: [],
      };
      this.data.forEach((element) => {
        bruto.data.push(element.total_bruto);
        netto.data.push(element.total_netto);
        profit.data.push(element.total_profit);
      });
      let dataChart = [bruto, netto, profit];
      return dataChart;
    },
    chartOptions() {
      let options = {};
      let date = [];
      let _self = this;
      this.data.forEach((element) => {
        date.push(element.date);
      });
      // options.labels = label
      options.chart = {
        type: "area",
        zoom: {
          enabled: false,
        },
        toolbar: false,
        // stacked: true,
      };
      options.dataLabels = {
        enabled: false,
      };
      options.stroke = {
        curve: "smooth",
      };
      options.title = {
        text: "",
        align: "left",
      };
      options.grid = {
        position: "front",
        row: {
          colors: ["transparent", "transparent"], // takes an array which will be repeated on columns
          // opacity: 0.1,
        },
      };

      (options.fill = {
        type: "gradient",
        gradient: {
          shadeIntensity: 1,
          opacityFrom: 0.7,
          opacityTo: 0.9,
          stops: [0, 90, 100],
        },
      }),
        (options.colors = ["#7474bf", "#f2994a", "#36d1dc"]);

      options.yaxis = {
        labels: {
          formatter: function (value) {
            return _self.$helpers.numberFormat(value);
          },
        },
      };

      options.xaxis = {
        categories: date,
        labels: {
          formatter: function (value) {
            return _self.$date(value).format("DD MMM YYYY");
          },
        },
      };

      return options;
    },
  },
};
</script>

<style>
</style>