<template>
  <v-app id="login">
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="7" md="4" xl="3">
            <v-card elevation="0">
              <v-card-title class="headline">Halaman tidak ditemukan</v-card-title>
              <v-img src="@/assets/images/back_home.svg"></v-img>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn rounded depressed @click="goBack" class="my-blue-button">
                  <v-icon class="mr-2">mdi-view-dashboard</v-icon>Kembali ke Dashboard
                </v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
export default {
  name: "TemplateError404",
  components: {},
  methods: {
    goBack() {
      this.$router.push({ name: "dashboard" });
    },
  },
};
</script>

<style scoped>
.my-blue-button {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff !important;
}
</style>