<template>
  <v-app>
    <TheNavigationDrawer
      :drawer="drawer"
      :isMobile="isMobile"
      @confirm-logout="dialogConfirmLogout = true"
      @change-drawer="changeDrawer"
    />
    <!-- Dialog Edit Pin -->
    <TheDialogEditPin />
    <TheDialogCheckPin />
    <TheDialogEditProfile />

    <v-app-bar app elevation="1">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>
        <h4>{{ $route.meta.title }}</h4>
        <!-- <v-img src="@/assets/next-pos-logo.png" height="25" contain position="inherit"></v-img> -->
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items v-if="$route.name == 'pos' || $route.name == 'posRevolution'">
      <!-- <v-btn
        v-if="$route.name == 'pos'"
        icon
        @click="$store.state.dialogInputCash = true"
      >
        <v-icon>mdi-cash</v-icon>
      </v-btn> -->
      <v-btn
        icon
        @click="$store.state.dialogSOPending = true"
        v-if="$route.name == 'pos' || $route.name == 'posRevolution'"
      >
        <v-badge
          x-small
          color="primary"
          overlap
          bordered
          v-if="$store.state.totalSOPending > 0"
        >
          <template v-slot:badge>
            <span>{{ $store.state.totalSOPending }}</span>
          </template>
          <v-icon>mdi-book-outline</v-icon>
        </v-badge>
        <v-icon v-else>mdi-book-outline</v-icon>
      </v-btn>
      </v-toolbar-items>
      <v-toolbar-items
        v-if="
          $store.state.userData.user_user_group_id == 1 && ($route.name == 'pos' || $route.name == 'posRevolution')">
        <v-btn icon @click="$store.state.dialogEditPin = true">
          <v-icon>mdi-key-chain</v-icon>
        </v-btn>
      </v-toolbar-items>
      <v-menu
        v-model="notificationStock"
        close-on-content-click
        :nudge-width="100"
        offset-y
        v-if="
          $store.state.userData.user_user_group_id == 1 && ($route.name == 'pos' || $route.name == 'posRevolution')">
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on">
            <v-badge
              x-small
              color="error"
              overlap
              bordered
              v-if="notificationStockData.length > 0"
            >
              <template v-slot:badge>
                <span>{{ notificationStockData.length }}</span>
              </template>
              <v-icon>mdi-bell-ring</v-icon>
            </v-badge>
            <v-icon v-else>mdi-bell-ring</v-icon>
          </v-btn>
        </template>

        <v-card class="rounded-lg">
          <v-list subheader>
            <v-subheader class="font-weight-bold">Peringatan Stok</v-subheader>
            <div style="overflow-y: auto; max-height: calc(100vh - 400px)">
              <v-list-item
                v-for="(stock, index) in notificationStockData"
                :key="index"
              >
                <v-list-item-content>
                  <v-list-item-subtitle>{{
                    stock.product_label
                  }}</v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-action
                  class="font-weight-bold text-center pl-4"
                  style="color: #ff5252"
                  >{{ $helpers.numberFormat(stock.stock_balance) }}
                  {{ stock.product_unit }}</v-list-item-action
                >
              </v-list-item>
            </div>
          </v-list>
        </v-card>
      </v-menu>
      <v-menu v-if="$route.name == 'pos' || $route.name == 'posRevolution'" left bottom offset-y max-width="300">
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list two-line subheader v-if="$route.name == 'pos' || $route.name == 'posRevolution'">
          <v-list-item @click="$store.state.dialogSOComplete = true">
            <v-list-item-avatar>
              <v-icon>mdi-cart-outline</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>Transaksi</v-list-item-title>
              <v-list-item-subtitle
                >Data riwayat transaksi</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
          <v-list-item @click="$store.state.dialogShiftDetail = true">
            <v-list-item-avatar>
              <v-icon>mdi-cash-register</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>Kas & Tutup Kasir</v-list-item-title>
              <v-list-item-subtitle
                >Rangkuman kas dan tutup kasir</v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
        </v-list>

        <!-- <v-list subheader two-line dense>
          <v-list-item @click.stop.prevent>
            <v-list-item-content>
              <v-list-item-title>Dark Theme</v-list-item-title>
              <v-list-item-subtitle>
                {{ darkMode ? "Nonaktifkan" : "Aktifkan" }} dark
                theme
              </v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-switch v-model="darkMode" color="primary"></v-switch>
            </v-list-item-action>
          </v-list-item>
        </v-list>-->
      </v-menu>
    </v-app-bar>

    <v-main>
      <v-container fluid class="py-0">
        <router-view />
      </v-container>
    </v-main>

    <v-dialog v-model="dialogConfirmLogout" persistent max-width="290">
      <v-card class="rounded">
        <v-card-title class="headline">Konfirmasi Logout!</v-card-title>
        <v-card-text>Yakin akan keluar dari sistem?</v-card-text>
        <div>
          <table style="width: 100%">
            <tr>
              <td class="pa-1" width="50%">
                <v-btn
                  class="rounded my-grey-button"
                  depressed
                  block
                  @click="dialogConfirmLogout = false"
                  >Batal</v-btn
                >
              </td>
              <td class="pa-1">
                <v-btn
                  class="rounded my-blue-button"
                  depressed
                  block
                  @click="doLogout"
                  >Yakin</v-btn
                >
              </td>
            </tr>
          </table>
        </div>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogExpiredSession" persistent max-width="290">
      <v-card class="rounded">
        <v-card-title class="headline">Sesi berakhir!</v-card-title>
        <v-card-text>{{ $store.state.expiredMessage }}</v-card-text>
        <div>
          <table style="width: 100%">
            <tr>
              <td class="pa-1" width="50%">
                <v-btn
                  class="rounded my-blue-button"
                  depressed
                  block
                  @click="$router.push({ path: '/login' })"
                  >OK</v-btn
                >
              </td>
            </tr>
          </table>
        </div>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogNetworkError" persistent max-width="290">
      <v-card class="rounded">
        <v-card-title class="headline">Oops!</v-card-title>
        <v-card-text>Terkendala dalam mengakses server.</v-card-text>
        <div>
          <table style="width: 100%">
            <tr>
              <td class="pa-1" width="50%">
                <v-btn
                  class="rounded my-blue-button"
                  depressed
                  block
                  @click="closeDialogNetwork('error')"
                  >OK</v-btn
                >
              </td>
            </tr>
          </table>
        </div>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogNetworkNotFound" persistent max-width="290">
      <v-card class="rounded">
        <v-card-title class="headline">Oops!</v-card-title>
        <v-card-text>Permintaan Anda tidak ditemukan.</v-card-text>
        <div>
          <table style="width: 100%">
            <tr>
              <td class="pa-1" width="50%">
                <v-btn
                  class="rounded my-blue-button"
                  depressed
                  block
                  @click="closeDialogNetwork('notfound')"
                  >OK</v-btn
                >
              </td>
            </tr>
          </table>
        </div>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script>
import TheNavigationDrawer from "@/components/TheNavigationDrawer";
import TheDialogEditPin from "@/components/TheDialogEditPin";
import TheDialogCheckPin from "@/components/TheDialogCheckPin";
import TheDialogEditProfile from "@/components/TheDialogEditProfile";
export default {
  name: "ThePOSLayout",
  components: {
    TheNavigationDrawer,
    TheDialogEditPin,
    TheDialogCheckPin,
    TheDialogEditProfile,
  },
  data: () => ({
    notificationStock: false,
    notificationStockData: [],
    drawer: false,
    isMobile: false,
    search: "",
    dialogConfirmLogout: false,
  }),

  computed: {
    loading() {
      return this.$store.state.loading;
    },
    userLogedIn() {
      return this.$store.state.isLogedIn;
    },
    dialogNetworkError() {
      return this.$store.state.networkError;
    },
    dialogNetworkNotFound() {
      return this.$store.state.networkNotFound;
    },
    dialogExpiredSession() {
      return !this.$store.state.isLogedIn;
    },
    darkMode: {
      get() {
        return this.$vuetify.theme.dark;
      },
      set() {
        let value = !this.$vuetify.theme.dark;
        this.$vuetify.theme.dark = value;
        this.$storage.set("darkMode", value);
      },
    },
  },

  beforeDestroy() {
    if (typeof window !== "undefined") {
      window.removeEventListener("resize", this.onResize, { passive: true });
    }
  },

  mounted() {
    let _self = this;
    // this.setActiveNavigation();
    this.onResize();
    window.addEventListener("resize", this.onResize, { passive: true });

    let darkMode = this.$storage.get("darkMode");
    if (darkMode) {
      this.$vuetify.theme.dark = true;
      this.$storage.set("darkMode", true);
    } else {
      this.$vuetify.theme.dark = false;
      this.$storage.set("darkMode", false);
    }

    clearInterval(this.$store.state.intervalNotificationStock);

    if (
      this.$store.state.userData.user_user_group_id == 1 &&
      this.$route.name != "pos"
    ) {
      this.getNotifStock();

      this.$store.state.intervalNotificationStock = setInterval(function () {
        _self.getNotifStock();
      }, 20000);
    }
  },

  beforeDestroy() {
    clearInterval(this.$store.state.intervalNotificationStock);
  },

  methods: {
    setActiveNavigation() {
      let _self = this;
      _self.navigation.forEach((element, i) => {
        if (element.children) {
          element.children.forEach((child) => {
            if (_self.$route.path == child.action) {
              _self.navigation[i].active = true;
            }
          });
        } else {
          if (_self.$route.path == element.action) {
            _self.navigation[i].active = true;
          }
        }
      });
    },
    onResize() {
      this.isMobile = window.innerWidth < 600;
    },
    changeDrawer(value) {
      this.drawer = value;
    },
    closeDialogNetwork(type) {
      if (type === "error") {
        this.$store.commit("SET", {
          key: "networkError",
          value: false,
        });
      }
      if (type === "notfound") {
        this.$store.commit("SET", {
          key: "networkNotFound",
          value: false,
        });
      }
    },
    copy(o) {
      return Object.assign({}, o);
    },
    doLogout() {
      this.$store.commit("SET", {
        key: "token",
        value: "",
      });
      this.$storage.remove("token");

      this.$store.commit("SET", {
        key: "userData",
        value: {},
      });
      this.$storage.remove("userData");

      window.location.reload();
    },

    async getNotifStock() {
      await this.axios
        .get("dashboard/notif-stock")
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.notificationStockData = data.result.notif_stock;
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>
<style>
/* #app.v-application.theme--light ::-webkit-scrollbar {
  height: 8px;
  width: 8px;
} */

#nav-header {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
}

.v-list .v-list-item--active {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff !important;
}

.my-blue-button {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff !important;
}
.my-green-button {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #38ef7d,
    #11998e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #38ef7d,
    #11998e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff !important;
}
.my-yellow-button {
  background: #ffe259; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff !important;
}
.my-red-button {
  background: #ee0979; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff !important;
}
.my-grey-button {
  background: #757f9a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #d7dde8,
    #757f9a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #d7dde8,
    #757f9a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff !important;
}
.my-wa-button {
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #a8e063,
    #56ab2f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #a8e063,
    #56ab2f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff !important;
}

.my-background {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
</style>
