<template>
  <div>
    <!-- Dialog Shif Detail -->
    <v-dialog
      v-model="$store.state.dialogShiftDetail"
      persistent
      scrollable
      max-width="400"
    >
      <v-card class="rounded">
        <v-card-text>
          <div class="pa-2 rounded my-background">
            <table style="width: 100%">
              <tr>
                <td>Kas masuk</td>
                <td class="text-right">
                  {{
                    $helpers.numberFormat(reportCash.total_cash_in, 0, ",", ".")
                  }}
                </td>
              </tr>
              <tr>
                <td>Kas Keluar</td>
                <td class="text-right">
                  {{
                    $helpers.numberFormat(
                      reportCash.total_cash_out,
                      0,
                      ",",
                      "."
                    )
                  }}
                </td>
              </tr>
              <tr>
                <td class="font-weight-bold">Total kas</td>
                <td class="text-right font-weight-bold">
                  {{
                    $helpers.numberFormat(reportCash.total_cash, 0, ",", ".")
                  }}
                </td>
              </tr>
            </table>
          </div>
          <div class="pa-2 rounded mt-6 my-background">
            <table style="width: 100%">
              <tr>
                <td class="pb-4 font-weight-bold">Penjualan tunai</td>
                <td class="text-right pb-4 font-weight-bold">
                  {{
                    $helpers.numberFormat(
                      reportCash.total_income_cash,
                      0,
                      ",",
                      "."
                    )
                  }}
                </td>
              </tr>
              <tr>
                <td>Penjualan EDC</td>
                <td class="text-right">
                  {{
                    $helpers.numberFormat(reportCash.total_so_edc, 0, ",", ".")
                  }}
                </td>
              </tr>
              <tr>
                <td>Penjualan transfer</td>
                <td class="text-right">
                  {{
                    $helpers.numberFormat(
                      reportCash.total_so_transfer,
                      0,
                      ",",
                      "."
                    )
                  }}
                </td>
              </tr>
              <tr>
                <td>Penjualan OVO</td>
                <td class="text-right">
                  {{
                    $helpers.numberFormat(reportCash.total_so_ovo, 0, ",", ".")
                  }}
                </td>
              </tr>
              <tr>
                <td>Penjualan GOPAY</td>
                <td class="text-right">
                  {{
                    $helpers.numberFormat(
                      reportCash.total_so_gopay,
                      0,
                      ",",
                      "."
                    )
                  }}
                </td>
              </tr>
              <tr>
                <td>Penjualan Refund</td>
                <td class="text-right">
                  {{
                    $helpers.numberFormat(
                      reportCash.total_so_refund,
                      0,
                      ",",
                      "."
                    )
                  }}
                </td>
              </tr>
              <tr>
                <td class="font-weight-bold">Total non tunai</td>
                <td class="text-right font-weight-bold">
                  {{
                    $helpers.numberFormat(
                      reportCash.total_income_non_cash,
                      0,
                      ",",
                      "."
                    )
                  }}
                </td>
              </tr>
              <tr>
                <td class="font-weight-bold pt-4">Total penjualan</td>
                <td class="text-right font-weight-bold pt-4">
                  {{
                    $helpers.numberFormat(
                      reportCash.total_income_cash +
                        reportCash.total_income_non_cash,
                      0,
                      ",",
                      "."
                    )
                  }}
                </td>
              </tr>
            </table>
          </div>
        </v-card-text>
        <div class="px-6">
          <table style="width: 100%">
            <tr>
              <td class="pa-1" width="50%">
                <v-btn
                  depressed
                  block
                  class="my-grey-button"
                  rounded
                  @click="$store.state.dialogShiftDetail = false"
                  >Tutup</v-btn
                >
              </td>
              <td class="pa-1">
                <v-btn
                  depressed
                  block
                  class="my-blue-button"
                  rounded
                  @click="
                    dialogEndShiftCashOut = true;
                    $store.state.dialogShiftDetail = false;
                  "
                  >Akhiri Shift</v-btn
                >
              </td>
            </tr>
          </table>
        </div>
      </v-card>
    </v-dialog>

    <!-- Dialog Akhiri Shift Dan Kas Keluar -->
    <v-dialog
      v-model="dialogEndShiftCashOut"
      persistent
      scrollable
      max-width="400"
    >
      <v-card class="rounded">
        <v-card-text>
          <v-row>
            <v-col cols="12">
              Kas Diterima
              <v-currency-field
                id="right"
                dense
                onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                v-model="inputCashRecived"
                prefix="Rp"
                hide-details
              />
            </v-col>
          </v-row>
        </v-card-text>
        <div class="px-6">
          <table style="width: 100%">
            <tr>
              <td class="pa-1" width="50%">
                <v-btn
                  depressed
                  block
                  class="my-grey-button"
                  rounded
                  @click="dialogEndShiftCashOut = false"
                  >Batal</v-btn
                >
              </td>
              <td class="pa-1">
                <v-btn
                  depressed
                  block
                  class="my-blue-button"
                  rounded
                  @click="doCloseShift()"
                  >Akhiri Shift</v-btn
                >
              </td>
            </tr>
          </table>
        </div>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogEndShiftSuccess"
      persistent
      scrollable
      max-width="300"
    >
      <v-card class="rounded-lg">
        <v-card-title>
          <h4>Tutup Kasir Berhasil</h4>
        </v-card-title>
        <v-card-text>
          <v-btn
            depressed
            block
            class="my-blue-button mb-4"
            rounded
            @click="printClosing"
            ><v-icon left>mdi-printer</v-icon>Print Laporan</v-btn
          >
          <v-btn
            depressed
            block
            class="my-green-button"
            rounded
            @click="
              dialogEndShiftSuccess = false;
              $router.push({ name: 'dashboard' });
            "
            ><v-icon left>mdi-close</v-icon>Selesai</v-btn
          >
        </v-card-text>
      </v-card>
    </v-dialog>
    <TheSnackbar ref="snackbar" />
  </div>
</template>

<script>
import SweetalertIcon from "vue-sweetalert-icons";
import TheSnackbar from "@/components/TheSnackbar";
import "@/plugins/print";
export default {
  components: {
    SweetalertIcon,
    TheSnackbar,
  },
  data() {
    return {
      reportCash: {},
      dialogEndShiftCashOut: false,
      dialogEndShiftSuccess: false,
      inputCashRecived: 0,
      dataClosing: {
        date: new Date(),
        admin: "Setyo",

        cashIn: 0,
        cashOut: 0,
        totalCash: 0,

        salesCash: 0,
        salesEdc: 0,
        salesTransfer: 0,
        salesOvo: 0,
        salesGopay: 0,
        salesRefund: 0,

        totalNonCash: 0,
        totalSales: 0,

        details: [],
      },
    };
  },
  watch: {
    "$store.state.dialogShiftDetail": function (val) {
      if (val) {
        this.getReportCash();
      }
    },
  },
  methods: {
    async getReportCash() {
      this.completeLoading = true;
      await this.axios
        .get("close-register/list", {
          params: {},
        })
        .then((res) => {
          let response = res.data;
          switch (response.status) {
            case "success":
              this.reportCash = response.result.data;
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.completeLoading = false;
    },

    async doCloseShift() {
      let data = {};
      data.input_cash_recived = parseInt(this.inputCashRecived);
      data.cash_out = this.reportCash.total_cash_out;
      data.cash_in = this.reportCash.total_cash_in;
      data.income_cash = this.reportCash.total_income_cash;
      data.Income_non_cash = this.reportCash.total_income_non_cash;
      data.detail_json = JSON.stringify({
        edc: this.reportCash.total_so_edc,
        transfer: this.reportCash.total_so_transfer,
        ovo: this.reportCash.total_so_ovo,
        gopay: this.reportCash.total_so_gopay,
      });
      await this.axios
        .post("close-register/end-shift", data)
        .then((res) => {
          let response = res.data;
          switch (response.status) {
            case "success":
              this.snackbar = true;
              this.snackbarText = response.msg;
              this.dialogEndShiftSuccess = true;

              let dataClosing = response.result;

              let details = [];

              if (dataClosing.detail.length > 0) {
                dataClosing.detail.forEach((item) => {
                  details.push({
                    transactionNumber: item.sales_order_transaction_number,
                    date: item.sales_order_input_datetime,
                    paymentMethod: item.sales_order_payment_method,
                    grandTotal: item.sales_order_grand_total,
                  });
                });
              }

              this.dataClosing = {
                companyName: "Tempat Temen",
                companyAddress:
                  "Jl. Kusumanegara No. 162 Yogyakarta",
                companyPhone: "",

                // companyName: "BAKMI JAWA MBAH AP",
                // companyAddress:
                //   "Jl. Ipda Tut Harsono No. 27 Yogyakarta",
                // companyPhone: "",

                date: dataClosing.date,
                admin: dataClosing.admin,

                cashIn: dataClosing.cash_in,
                cashOut: dataClosing.cash_out,
                totalCash: dataClosing.total_cash,

                salesCash: dataClosing.sales_cash,
                salesEdc: dataClosing.sales_edc,
                salesTransfer: dataClosing.sales_transfer,
                salesOvo: dataClosing.sales_ovo,
                salesGopay: dataClosing.sales_gopay,

                totalNonCash: dataClosing.total_noncash,
                totalSales: dataClosing.total_sales,

                details: details,
              };
              break;
            case "validation":
              break;
            case "failed":
              this.$refs.snackbar.open("error", `${response.msg}`);
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },

    printClosing() {
      this.$print.dataClosing = this.dataClosing;

      this.$print.mini58RawBtUniAndroidClosing();
    },
  },
};
</script>

<style>
</style>