<template>
  <div>
    <!-- Complete List -->
    <v-dialog
      v-model="$store.state.dialogSOComplete"
      persistent
      scrollable
      max-width="350"
    >
      <v-card class="rounded" max-height="600">
        <div v-if="completeLoading">
          <sweetalert-icon icon="loading" />
          <div class="text-center">Menyiapkan data</div>
        </div>
        <div v-else style="overflow: auto">
          <v-card-text v-if="complete.length > 0">
            <v-card
              class="rounded mb-2 card-pending"
              dark
              v-for="(v, i) in complete"
              :key="i"
              @click="
                refunData = v;
                dialogRefundConfirm = true;
              "
            >
              <v-card-text>
                <table style="width: 100%">
                  <tr>
                    <td>
                      <span class="font-weight-bold">
                        <v-icon class="mr-2" color="white"
                          >mdi-ticket-confirmation</v-icon
                        >
                        {{ v.number }}
                      </span>
                      <span class="float-right">
                        <v-btn
                          text
                          class="px-0"
                          color="orange"
                          @click="dialogRefundConfirm = true"
                        >
                          refund
                          <v-icon>mdi-chevron-right</v-icon>
                        </v-btn>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="font-weight-bold">
                        <v-icon class="mr-2" color="white">mdi-account</v-icon>
                        {{ v.customer_name }}
                      </span>
                      <span class="float-right">
                        <v-icon class="mr-2" color="white"
                          >mdi-calendar-month</v-icon
                        >
                        {{ $date(v.datetime).format("DD/MM/YY HH:mm") }}
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="font-weight-bold">
                        <v-icon class="mr-2" color="white">mdi-cash</v-icon>
                        Rp
                        {{ $helpers.numberFormat(v.grand_total, 0, ",", ".") }}
                      </span>
                      <span class="float-right">{{ v.table }}</span>
                    </td>
                  </tr>
                </table>
              </v-card-text>
            </v-card>
          </v-card-text>
          <v-card-text v-else>
            <div class="text-center">
              <v-img
                src="@/assets/images/nodata.svg"
                width="200px"
                class="ma-auto"
              ></v-img>
              <div class="mt-4">Data belum ada</div>
            </div>
          </v-card-text>
        </div>
        <div class="px-6">
          <table style="width: 100%">
            <tr>
              <td class="pa-1" width="50%">
                <v-btn
                  depressed
                  block
                  class="my-grey-button"
                  rounded
                  @click="$store.state.dialogSOComplete = false"
                  >Tutup</v-btn
                >
              </td>
            </tr>
          </table>
        </div>
      </v-card>
    </v-dialog>

    <!-- Refund Confirm -->
    <v-dialog
      v-model="dialogRefundConfirm"
      persistent
      scrollable
      max-width="400"
    >
      <v-card class="rounded-lg">
        <v-card-title> Konfirmasi Refund Transaksi </v-card-title>
        <v-card-text>
          <v-alert
            border="right"
            color="red lighten-2"
            dark
            type="error"
            v-show="feedBackPIN.global"
            >{{ feedBackPIN.global }}</v-alert
          >
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="Masukan Pin"
                dense
                v-model="pin"
                filled
                @click:append="showPin = !showPin"
                :append-icon="showPin ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPin ? 'text' : 'password'"
                :error-messages="feedBackPIN.form.pin"
              >
              </v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <table style="width: 100%">
            <tr>
              <td class="pa-1" width="50%">
                <v-btn
                  color="grey darken-1"
                  text
                  @click="dialogRefundConfirm = false"
                  :disabled="loading"
                >
                  Batal
                </v-btn>
              </td>
              <td class="pa-1">
                <v-btn
                  depressed
                  block
                  class="my-blue-button"
                  rounded
                  @click="refund(refunData)"
                  :loading="loading"
                >
                  Submit
                  <v-icon right>mdi-chevron-right</v-icon>
                </v-btn>
              </td>
            </tr>
          </table>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import SweetalertIcon from "vue-sweetalert-icons";
export default {
  components: {
    SweetalertIcon,
  },
  data() {
    return {
      loading: false,
      complete: [],
      completeLoading: false,
      completeId: "0",
      dialogRefundConfirm: false,
      showPin: false,
      pin: null,
      feedBackPIN: {
        global: null,
        form: {
          pin: null,
        },
      },
    };
  },
  watch: {
    "$store.state.dialogSOComplete": function (val) {
      if (val) {
        this.getComplete();
      }
    },
    dialogRefundConfirm: function () {
      this.feedBackPIN.global = null;
      this.feedBackPIN.form.pin = null;

      this.pin = null;
    },
  },
  methods: {
    async getComplete() {
      this.completeLoading = true;
      await this.axios
        .get("pos/list/complete", {
          params: {
            limit: 20,
          },
        })
        .then((res) => {
          let response = res.data;
          switch (response.status) {
            case "success":
              this.complete = response.result.data.map((val, key) => ({
                id: val.sales_order_id,
                number: val.sales_order_transaction_number,
                customer_id: val.sales_order_customer_id,
                customer_name: val.sales_order_customer_name,
                datetime: val.sales_order_input_datetime,
                table: val.sales_order_table_number,
                detail: val.sales_order_detail,
                discout_percent: val.sales_order_total_discount_percent,
                grand_total: val.sales_order_grand_total,
              }));
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.completeLoading = false;
    },

    openDialogRefund(value) {
      console.log(value);
    },

    async refund(val) {
      const _self = this;

      this.feedBackPIN.global = null;
      this.feedBackPIN.form.pin = null;

      this.loading = true;
      await this.axios
        .post("pos/refund", { id: val.id, pin: this.pin })
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.snackbar = true;
              this.snackbarText = data.msg;
              this.dialogRefundConfirm = false;

              //update stock master product
              if (data.result.remaining_stock.length > 0) {
                data.result.remaining_stock.forEach((product) => {
                  let itemOnProducts = _self.$store.state.pos.products.find(
                    (item) => item.id == product.product_id
                  );

                  if (itemOnProducts) {
                    let indexItem = _self.$store.state.pos.products.indexOf(
                      itemOnProducts
                    );
                    _self.$store.state.pos.products[indexItem].stock =
                      product.stock_balance;
                    _self.$store.state.pos.products[indexItem].stockWarning =
                      product.stock_warning;
                  }
                });
              }

              this.getComplete();
              break;
            case "validation":
              this.feedBackPIN.global = data.msg;
              this.feedBackPIN.form.pin = data.result.error.pin;
              break;
            case "failed":
              this.feedBackPIN.global = data.msg;
              break;
          }
          this.loading = false;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>

<style>
</style>