<template>
  <v-dialog
    v-model="$store.state.pos.cart.dialogEdit"
    persistent
    scrollable
    max-width="500"
  >
    <v-card class="rounded-lg">
      <v-card-title>
        <h4>Form Ubah Pesanan</h4>
        <v-spacer></v-spacer>
        <v-btn depressed icon @click="$store.state.pos.cart.dialogEdit = false">
          <v-icon>mdi-close-thick</v-icon>
        </v-btn>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <table style="width: 100%">
          <tr>
            <td style="width: 90%">
              <v-autocomplete
                v-model="customer"
                :items="$store.state.pos.customers"
                prepend-inner-icon="mdi-account"
                placeholder="Pilih pelanggan"
                filled
                rounded
                attach
                dense
                hide-details
                return-object
              ></v-autocomplete>
            </td>
            <td style="width: 10%" class="pl-2">
              <v-btn depressed fab small class="my-blue-button"
                ><v-icon>mdi-plus</v-icon></v-btn
              >
            </td>
          </tr>
        </table>
        <div class="mt-1 mb-4 mx-2">
          <v-btn
            small
            class="ma-1 my-blue-button rounded"
            depressed
            @click="customer = { text: 'Umum', value: '0' }"
            >Umum</v-btn
          >
        </div>
        <v-row>
          <v-col cols="12">
            <v-text-field
              v-model="table"
              prepend-inner-icon="mdi-bookmark-check"
              placeholder="Pilih meja"
              filled
              rounded
              dense
              hide-details
              clearable
            ></v-text-field>
            <div class="mt-1 mx-2">
              <v-btn
                small
                class="ma-1 my-blue-button rounded"
                depressed
                @click="table = 'Tanpa Meja'"
                >Tanpa Meja</v-btn
              >
              <v-btn
                small
                class="ma-1 my-blue-button rounded"
                depressed
                @click="table = 'Meja 1'"
                >Meja 1</v-btn
              >
              <v-btn
                small
                class="ma-1 my-blue-button rounded"
                depressed
                @click="table = 'Meja 2'"
                >Meja 2</v-btn
              >
            </div>
          </v-col>
          <v-col cols="12" v-if="$store.state.pos.salesTypes.length > 0">
            <v-text-field
              v-model="salesType.text"
              prepend-inner-icon="mdi-tag"
              placeholder="Pilih Tipe Penjualan"
              filled
              rounded
              dense
              hide-details
              readonly
            ></v-text-field>
            <div class="mt-1 mx-2">
              <v-btn
                v-for="item in $store.state.pos.salesTypes"
                :key="item.slug"
                small
                class="ma-1 my-blue-button rounded"
                depressed
                @click="
                  salesType.text = item.name;
                  salesType.slug = item.slug;
                "
                >{{ item.name }}</v-btn
              >
            </div>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn depressed class="my-blue-button" rounded @click="saveCartEdit"
          ><v-icon left>mdi-check-circle-outline</v-icon> Terapkan</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "TheCartEdit",

  data: () => ({
    customer: {
      text: "Umum",
      value: "0",
    },
    table: "Tanpa Meja",
    salesType: {
      text: "Dine In",
      slug: "dine_in",
    },
  }),

  watch: {
    //standby watching dialog edit
    "$store.state.pos.cart.dialogEdit": function (val) {
      if (val) {
        this.customer = Object.assign({}, this.$store.state.pos.cart.customer);
        this.table = this.$store.state.pos.cart.table;
        this.salesType = Object.assign(
          {},
          this.$store.state.pos.cart.salesType
        );
      }
    },

    //standby watching sales type slug
    "$store.state.pos.cart.salesType.slug": function (newVal, oldVal) {
      //bila di keranjang ada produk
      if (this.$store.state.pos.cart.products.length > 0) {
        //ubah harga sesuai tipe penjualan
        let selectedSalestype = this.$store.state.pos.salesTypes.find(
          (element) => element.slug == newVal
        );

        let valueMargin = 0;

        //cek apakah tipe penjualan ada, dan valuenya lebih dari 0
        if (selectedSalestype && selectedSalestype.value > 0) {
          valueMargin = parseInt(selectedSalestype.value);
        }

        this.$store.state.pos.cart.products.forEach((product) => {
          let nominalMargin = 0;

          //bila marginnya persen
          if (selectedSalestype.margin == "percent") {
            nominalMargin = (valueMargin * product.sellingPrice) / 100;
          }

          //bila marginnya nominal
          if (selectedSalestype.margin == "nominal") {
            nominalMargin = valueMargin;
          }

          product.price = product.sellingPrice + nominalMargin;

          //kalkulasi ulang diskon item jika ada
          if (product.discountPercent > 0) {
            product.discountNominal =
              (product.price * product.discountPercent) / 100;
          }
        });
      }
    },
  },

  methods: {
    saveCartEdit() {
      this.$store.state.pos.cart.customer = Object.assign({}, this.customer);
      this.$store.state.pos.cart.table = this.table;
      this.$store.state.pos.cart.salesType = Object.assign({}, this.salesType);

      this.$store.state.pos.cart.dialogEdit = false;
    },
  },
};
</script>

<style>
</style>