<template>
  <div>
    <v-dialog
      v-model="$store.state.pos.cart.itemEdit.dialog"
      persistent
      scrollable
      max-width="550"
    >
      <v-card class="rounded-lg">
        <v-card-title>
          <h4>Ubah Pesanan</h4>
          <v-spacer></v-spacer>
          <v-btn
            depressed
            icon
            @click="$store.state.pos.cart.itemEdit.dialog = false"
          >
            <v-icon>mdi-close-thick</v-icon>
          </v-btn>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <table style="width: 100%">
            <tr>
              <!-- Left Section -->
              <td style="width: 39%" class="text-center">
                <h4 class="text-center mb-3">
                  {{ $store.state.pos.cart.itemEdit.data.name }}
                </h4>
                <v-layout justify-center>
                  <v-img
                    :src="
                      $store.state.pos.cart.itemEdit.data.image
                        ? $store.state.pos.cart.itemEdit.data.image
                        : 'https://via.placeholder.com/150x150?text=Produk'
                    "
                    max-height="150"
                    max-width="150"
                    contain
                  ></v-img>
                </v-layout>
                <div class="mt-4">
                  <table style="width: 100%" class="text-center">
                    <tr>
                      <td style="width: 30%" class="text-right">
                        <v-btn
                          @click="decrement()"
                          x-small
                          class="my-red-button"
                          depressed
                          fab
                        >
                          <v-icon x-small>mdi-minus</v-icon>
                        </v-btn>
                      </td>
                      <td style="width: 40%">
                        <v-btn small class="font-weight-bold" text>{{
                          $helpers.numberFormat(qty, 0, ",", ".")
                        }}</v-btn>
                      </td>
                      <td style="width: 30%" class="text-left">
                        <v-btn
                          @click="increment()"
                          x-small
                          class="my-green-button"
                          depressed
                          fab
                        >
                          <v-icon x-small>mdi-plus</v-icon>
                        </v-btn>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
              <td style="width: 3%"></td>
              <!-- Right Section -->
              <td style="width: 58%">
                <!-- Tabs -->
                <v-row>
                  <v-col cols="12" class="pb-0">
                    <h4 class="text-center mb-4">Pilih Kategori Diskon</h4>
                    <div class="d-flex mb-3">
                      <v-btn
                        class="mr-2"
                        :class="
                          tabsItem == 'paket'
                            ? 'button-active'
                            : 'my-blue-button'
                        "
                        rounded
                        depressed
                        small
                        @click="tabsItem = 'paket'"
                      >
                        Paket
                      </v-btn>
                      <!-- DISKON PERSEN -->
                      <v-btn
                        class="mr-2"
                        :class="
                          tabsItem == 'percent'
                            ? 'button-active'
                            : 'my-blue-button'
                        "
                        rounded
                        depressed
                        small
                        @click="tabsItem = 'percent'"
                      >
                        Persen
                      </v-btn>
                      <!-- DISKON NOMINAL -->
                      <v-btn
                        class="mr-2"
                        :class="
                          tabsItem == 'nominal'
                            ? 'button-active'
                            : 'my-blue-button'
                        "
                        rounded
                        depressed
                        small
                        @click="tabsItem = 'nominal'"
                      >
                        Nominal
                      </v-btn>
                    </div>
                  </v-col>
                </v-row>
                <v-divider></v-divider>
                <!-- Form Discount Item -->
                <v-row>
                  <v-col cols="12">
                    <v-currency-field
                      v-model="discountPercentPaket"
                      prepend-inner-icon="mdi-sale"
                      placeholder="Diskon Persen"
                      filled
                      rounded
                      readonly
                      dense
                      suffix="%"
                      hide-details
                      class="mb-3"
                      v-show="tabsItem == 'paket'"
                    />
                    <v-currency-field
                      v-model="discountPercent"
                      prepend-inner-icon="mdi-sale"
                      placeholder="Diskon Persen"
                      filled
                      rounded
                      dense
                      suffix="%"
                      hide-details
                      class="mb-3"
                      v-show="tabsItem == 'percent'"
                    />
                    <v-currency-field
                      v-model="discountNominal"
                      prepend-inner-icon="mdi-sale"
                      placeholder="Diskon Nominal"
                      filled
                      rounded
                      dense
                      prefix="Rp"
                      hide-details
                      class="mb-3"
                      v-show="tabsItem == 'nominal'"
                    />
                    <span
                      v-for="(item, index) in $store.state.pos.discountsItem"
                      :key="index"
                    >
                      <v-btn
                        v-if="tabsItem == 'paket'"
                        small
                        class="caption ma-1 my-blue-button rounded"
                        depressed
                        @click="
                          discountPercentPaket = item.percent;
                          discountName = item.title;
                        "
                      >
                        {{ item.title }} ({{ item.percent }}%)
                      </v-btn>
                    </span>
                  </v-col>
                </v-row>
              </td>
            </tr>
          </table>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer> </v-spacer>
          <v-btn
            @click="checkDiscountGlobal"
            depressed
            class="my-blue-button"
            rounded
          >
            <v-icon left>mdi-check-circle-outline</v-icon>
            Terapkan
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogConfirmResetGlobal"
      persistent
      scrollable
      max-width="400"
    >
      <v-card class="rounded-lg">
        <v-card-title>
          <h4>Konfirmasi Reset Diskon Global</h4>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <p>
            Diskon per item akan mereset diskon global, apakah yakin akan
            menerapkannya?
          </p>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn
            depressed
            class="my-red-button"
            rounded
            @click="
              discountName = '';
              discountPercentPaket = 0;
              discountPercent = 0;
              discountNominal = 0;
              dialogConfirmResetGlobal = false;
            "
            ><v-icon left>mdi-close</v-icon> Batal</v-btn
          >
          <v-spacer></v-spacer>
          <v-btn depressed class="my-blue-button" rounded @click="saveItemEdit"
            ><v-icon left>mdi-check-circle-outline</v-icon> Yakin</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "TheItemEdit",
  data() {
    return {
      discountName: "",
      discountPercentPaket: 0,
      discountPercent: 0,
      discountNominal: 0,
      tabsItem: "paket",
      qty: 0,
      dialogConfirmResetGlobal: false,
    };
  },

  watch: {
    "$store.state.pos.cart.itemEdit.dialog": function (val) {
      if (val) {
        this.qty = this.$store.state.pos.cart.itemEdit.data.qty;

        if (this.$store.state.pos.cart.itemEdit.data.discountTitle != "") {
          this.tabsItem = "paket";
          this.discountName = this.$store.state.pos.cart.itemEdit.data.discountTitle;
          this.discountPercentPaket = this.$store.state.pos.cart.itemEdit.data.discountPercent;
          this.discountPercent = 0;
          this.discountNominal = 0;
        } else {
          if (
            this.$store.state.pos.cart.itemEdit.data.discountPercent <= 0 &&
            this.$store.state.pos.cart.itemEdit.data.discountNominal <= 0
          ) {
            this.tabsItem = "paket";
            this.discountName = "";
            this.discountPercentPaket = 0;
            this.discountPercent = 0;
            this.discountNominal = 0;
          } else {
            if (this.$store.state.pos.cart.itemEdit.data.discountPercent > 0) {
              this.tabsItem = "percent";
              this.discountName = "";
              this.discountPercentPaket = 0;
              this.discountPercent = this.$store.state.pos.cart.itemEdit.data.discountPercent;
              this.discountNominal = 0;
            } else {
              this.tabsItem = "nominal";
              this.discountName = "";
              this.discountPercentPaket = 0;
              this.discountPercent = 0;
              this.discountNominal = this.$store.state.pos.cart.itemEdit.data.discountNominal;
            }
          }
        }
      }
    },
  },

  methods: {
    // tambah qty
    increment() {
      this.qty += 1;
    },

    // kurangi qty
    decrement() {
      if (this.qty > 1) {
        this.qty -= 1;
      }
    },

    //cek diskon global sebelum terapkan diskon item
    checkDiscountGlobal() {
      if (
        this.discountPercentPaket > 0 ||
        this.discountPercent > 0 ||
        this.discountNominal > 0
      ) {
        if (
          this.$store.state.pos.cart.totalDiscountPercent > 0 ||
          this.$store.state.pos.cart.totalDiscountNominal > 0
        ) {
          this.dialogConfirmResetGlobal = true;
        } else {
          this.saveItemEdit();
        }
      } else {
        this.saveItemEdit();
      }
    },

    // Simpan perubahan
    saveItemEdit() {
      // this.$emit(`discountItem`, {
      //   discountSelected: this.discountItemSelected,
      //   tabs: this.tabsItem,
      // })

      //reset diskon global
      this.$store.state.pos.cart.discountTitle = "";
      this.$store.state.pos.cart.totalDiscountPercent = 0;
      this.$store.state.pos.cart.totalDiscountNominal = 0;

      this.dialogConfirmResetGlobal = false;

      let product = this.$store.state.pos.cart.products[
        this.$store.state.pos.cart.itemEdit.index
      ];

      product.qty = this.qty;

      switch (this.tabsItem) {
        case "paket":
          product.discountTitle = this.discountName;
          product.discountPercent = this.discountPercentPaket;
          product.discountNominal = Math.round(
            (product.price * this.discountPercentPaket) / 100
          );
          break;
        case "percent":
          product.discountTitle = "";
          if (this.discountPercent > 100) {
            this.discountPercent = 100;
          }
          product.discountPercent = this.discountPercent;
          product.discountNominal = Math.round(
            (product.price * this.discountPercent) / 100
          );
          break;
        case "nominal":
          product.discountTitle = "";
          product.discountPercent = 0;
          if (this.discountNominal > product.price) {
            this.discountNominal = product.price;
          }
          product.discountNominal = this.discountNominal;
          break;
      }
      this.$store.state.pos.cart.itemEdit.dialog = false;
    },
  },
};
</script>

<style>
</style>