<template>
  <v-dialog
    v-model="$store.state.pos.loadingFetch.dialog"
    fullscreen
    hide-overlay
    persistent
    transition="false"
  >
    <v-card style="display: flex; justify-content: center; align-items: center">
      <div class="text-center">
        <sweetalert-icon icon="loading" />
        <img
          src="@/assets/next-pos-logo.png"
          alt
          style="height: 25px"
          class="mb-4"
        />
        <div>{{ $store.state.pos.loadingFetch.text }}</div>
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
import SweetalertIcon from "vue-sweetalert-icons";
export default {
  name: "TheLoadingFetch",
  components: { SweetalertIcon },
  data: () => ({}),
};
</script>

<style>
</style>