<template>
  <div>
    <v-row class="mt-2" style="overflow: auto; max-height: calc(100vh - 220px)">
      <v-col
        cols="6"
        sm="4"
        md="3"
        v-for="(item, indexItem) in menu"
        :key="indexItem"
      >
        <v-card
          class="cart-list ma-auto rounded"
          height="160"
          @click.native="addItemToCart(indexItem)"
          ripple
        >
          <v-img
            :src="
              item.image
                ? item.image
                : 'https://via.placeholder.com/100x70?text=Produk'
            "
            height="100px"
            contain
            style="background-color: #fff"
          >
          </v-img>
          <v-card-title
            class="body-2 pa-2"
            style="word-break: break-word; text-align: center; display: grid"
            >{{ $helpers.cutStr(item.name, 25) }}</v-card-title
          >
          <span v-if="item.qty > 0" class="badge-item-selected">{{
            item.qty
          }}</span>
          <span
            class="caption"
            :class="item.stockWarning ? 'stock-info-danger' : 'stock-info'"
            >Stok: {{ $helpers.numberFormat(item.stock) }}</span
          >
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "TheContainerItems",
  props: {
    menu: {
      type: Array,
      default: [],
    },
  },

  data: () => ({}),

  created() {},

  methods: {
    // trigger masukkan item ke cart dari component container item
    addItemToCart(index) {
      let item = this.menu[index]; // ambil item dari menu

      // ambil produk yg duplikat di cart
      let itemOnCart = this.$store.state.pos.cart.products.find(
        (product) => product.id === item.id
      );

      if (itemOnCart) {
        // jika item sudah ada
        let indexItem = this.$store.state.pos.products.indexOf(item);
        let indexCart = this.$store.state.pos.cart.products.indexOf(itemOnCart);

        this.$store.state.pos.products[indexItem].qty++;
        this.$store.state.pos.cart.products[indexCart].qty++;
      } else {
        // jika item belum ada
        let selectedSalestype = this.$store.state.pos.salesTypes.find(
          (element) => element.slug == this.$store.state.pos.cart.salesType.slug
        );

        let valueMargin = 0;

        //cek apakah tipe penjualan ada, dan valuenya lebih dari 0
        if (selectedSalestype && selectedSalestype.value > 0) {
          valueMargin = parseInt(selectedSalestype.value);
        }

        //bila marginnya persen
        let nominalMargin = 0;
        if (selectedSalestype.margin == "percent") {
          nominalMargin = (valueMargin * item.sellingPrice) / 100;
        }

        //bila marginnya nominal
        if (selectedSalestype.margin == "nominal") {
          nominalMargin = valueMargin;
        }

        item.price = item.sellingPrice + nominalMargin;

        item.qty = 1;

        // kalkulasi diskon item jika ada
        if (item.discountPercent > 0) {
          item.discountNominal = (item.price * item.discountPercent) / 100;
        }

        this.$store.state.pos.cart.products.push(Object.assign({}, item));
      }
    },
  },
};
</script>

<style>
.cart-list {
  border-radius: 15px !important;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.2) !important;
}
.badge-item-selected {
  position: absolute;
  top: 0;
  right: 0;
  background: #f2994a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #f2c94c,
    #f2994a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #f2c94c,
    #f2994a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 30px;
  height: 30px;
  padding: 4px;
  text-align: center;
  border-radius: 50% !important;
  font-weight: bold;
  color: #ffffff;
}
.stock-info {
  position: absolute;
  top: 85px;
  left: 0;
  padding: 0 5px;
  border-radius: 4px;
  color: #fff;
  background: rgb(0 0 0 / 50%);
}
.stock-info-danger {
  position: absolute;
  top: 85px;
  left: 0;
  padding: 0 5px;
  border-radius: 4px;
  color: #fff;
  background: rgb(255 17 0 / 56%);
}
.label-price {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.8em;
  padding: 2px 4px;
  border-radius: 4px;
  background: rgb(56 56 56 / 57%);
  color: #fff !important;
}
</style>