<template>
  <div>
    <!-- So List -->
    <v-dialog
      v-model="$store.state.dialogSOPending"
      persistent
      scrollable
      max-width="350"
    >
      <v-card class="rounded" max-height="600">
        <div v-if="holdLoading">
          <sweetalert-icon icon="loading" />
          <div class="text-center">Menyiapkan data</div>
        </div>
        <div v-else style="overflow: auto">
          <v-card-text v-if="hold.length > 0">
            <v-card
              class="rounded mb-2 card-pending"
              dark
              v-for="(v, i) in hold"
              :key="i"
              @click="addPendingToCart(v)"
            >
              <v-card-text>
                <table style="width: 100%">
                  <tr>
                    <td>
                      <span class="font-weight-bold">
                        <v-icon class="mr-2" color="white"
                          >mdi-ticket-confirmation</v-icon
                        >
                        {{ v.number }}
                      </span>
                      <span class="float-right">
                        <v-icon class="mr-2" color="white"
                          >mdi-calendar-month</v-icon
                        >
                        {{ $date(v.datetime).format("DD/MM/YY HH:mm") }}
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="font-weight-bold">
                        <v-icon class="mr-2" color="white"
                          >mdi-account</v-icon
                        >
                        {{ v.customer_name }}
                      </span>
                      <span class="float-right">{{ v.table }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td align="right" justify="space-around">
                      <v-btn
                        x-small
                        tile
                        color="error"
                        rounded
                        @click="openDialogDelete(v)">
                        <v-icon left>
                          mdi-delete-empty
                        </v-icon>
                        Hapus
                      </v-btn>
                    </td>
                  </tr>
                </table>
              </v-card-text>
            </v-card>
          </v-card-text>
          <v-card-text v-else>
            <div class="text-center">
              <v-img
                src="@/assets/images/nodata.svg"
                width="200px"
                class="ma-auto"
              ></v-img>
              <div class="mt-4">Data belum ada</div>
            </div>
          </v-card-text>
        </div>
        <div class="px-6">
          <table style="width: 100%">
            <tr>
              <td class="pa-1" width="50%">
                <v-btn
                  depressed
                  block
                  class="my-grey-button"
                  rounded
                  @click="$store.state.dialogSOPending = false"
                  >Tutup</v-btn
                >
              </td>
            </tr>
          </table>
        </div>
      </v-card>
    </v-dialog>
    
    <!-- Remove So Pending -->
    <v-dialog v-model="remove.dialog" persistent max-width="290">
      <v-card class="rounded">
          <v-card-text class="text-center">
            Apakah anda yakin menghapus pesanan 
          <b>{{ remove.table }}</b> ?
        </v-card-text>
        <div class="px-6">
          <table style="width: 100%">
            <tr>
              <td class="pa-1" width="50%">
                <v-btn
                  depressed
                  block
                  class="my-grey-button"
                  rounded
                  @click="remove.dialog = false"
                  >Batal</v-btn
                >
              </td>
              <td class="pa-1">
                <v-btn
                  depressed
                  block
                  class="my-blue-button"
                  rounded
                  dark
                  @click="doDeleted()" 
                  :loading="loading"
                  >Hapus</v-btn
                >
              </td>
            </tr>
          </table>
        </div>
      </v-card>
    </v-dialog>
    <TheSnackbar ref="snackbar" />
  </div>
</template>

<script>
import SweetalertIcon from "vue-sweetalert-icons";
import TheSnackbar from "@/components/TheSnackbar";
export default {
  components:{
    SweetalertIcon,
    TheSnackbar
  },
  data(){
    return{
      loading: false,
      hold: [],
      holdLoading: false,
      holdId: "0",
      remove: {
        id: "",
        table: "",
        dialog: false,
      }
    }
  },
  watch:{
    "$store.state.dialogSOPending": function (val){
      if(val){
        this.getHold()
      }
    }
  },
  methods:{
    // open dialog delete so pending
    openDialogDelete(value){
      this.remove.dialog = true
      this.remove.id = value.id
      this.remove.table = value.table
    },

    // reset cart
    resetCart(notif = true) {
      // looping semua, balikkan qty ke 0 dan balikkan harga ke harga semula
      this.$store.state.pos.products.forEach(function (product) {
        product.qty = 0;
        product.price = product.sellingPrice;
      });

      // kembalikan nilai default cart
      this.$store.state.pos.cart = Object.assign(
        {},
        {
          dialogEdit: false,
          dialogDiscount: false,
          itemEdit: {
            dialog: false,
            index: 0,
            data: {
              id: "0",
              category_id: "0",
              name: "",
              image: "",
              price: 0,
              sellingPrice: 0,
              qty: 0,
              discountTitle: "",
              discountPercent: 0,
              discountNominal: 0,
            },
          },
          holdId: 0,
          customer: {
            text: "Umum",
            value: "0",
          },
          table: "Tanpa Meja",
          salesType: {
            text: "Dine In",
            slug: "dine_in",
          },
          products: [],
          subTotal: 0,
          discountTitle: "",
          totalDiscountPercent: 0,
          totalDiscountNominal: 0,
          totalPayable: 0,
        }
      );

      if (notif) {
        this.$store.state.pos.snackbar.show = true;
        this.$store.state.pos.snackbar.text = "Berhasil menambah dari daftar tersimpan";
      }
    },

    // add so pending to cart
    addPendingToCart(value){
      this.resetCart()
      this.$store.state.pos.cart.holdId = value.id
      this.$store.state.pos.cart.customer = {
        text: value.customer_name,
        value: value.customer_id,
      }
      this.$store.state.pos.cart.table = value.table
      this.$store.state.pos.cart.salesType = {
        text: value.soTypeName,
        slug: value.soTypeSlug,
      }
      this.$store.state.pos.cart.products = value.detail
      this.$store.state.pos.cart.totalDiscountPercent = value.discout_percent
      this.$store.state.pos.cart.totalDiscountNominal = value.discout_nominal
      this.$store.state.pos.cart.products = value.detail

      this.$store.state.dialogSOPending = false
    },

    // load so pending
    async getHold() {
      this.holdLoading = true;
      await this.axios
        .get("pos/list/save", {
          params: {
            limit: -1,
          },
        })
        .then((res) => {
          let response = res.data;
          switch (response.status) {
            case "success":
              this.hold = response.result.data.map((val, key) => ({
                id: val.sales_order_id,
                number: val.sales_order_number,
                soTypeSlug: val.sales_order_sales_type_slug,
                soTypeName: val.sales_order_sales_type_name,
                customer_id: val.sales_order_customer_id,
                customer_name: val.sales_order_customer_name,
                datetime: val.sales_order_input_datetime,
                table: val.sales_order_table_number,
                detail: val.sales_order_detail,
                discout_percent: val.sales_order_total_discount_percent,
                discout_nominal: val.sales_order_total_discount_nominal,
              }));
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.holdLoading = false;
    },

    // hapus so pending
    async doDeleted() {
      this.loading = true;
      await this.axios
        .post("sales_order/delete", this.remove)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.$refs.snackbar.open(
                "success",
                `Berhasil menghapus pesanan "${data.result.tableNumber}"`
              );
              this.remove.dialog = false
              break;
            case "failed":
              this.$refs.snackbar.open(
                "error",
                `Gagal menghapus pesanan "${data.result.tableNumber}". ${data.msg}`
              );
              this.remove.dialog = false
              break;
          }
          let response = res.data;
          this.snackbar = true;
          this.snackbarText = response.msg;
          if (response.status == "success") {
            this.$store.state.totalSOPending = response.result.total_hold;
            this.axios
              .get("pos/save/total")
              .then((res) => {
                let response = res.data;
                switch (response.status) {
                  case "success":
                    this.$store.state.totalSOPending = response.result.total_hold;
                    this.getHold()
                    break;
                }
              })
              .catch(function (error) {
                console.log(error);
              });
          }
        })
        .catch(function (error) {
          console.log(error);
        });

      this.loading = false;
    },
  }
}
</script>

<style>

</style>