<template>
  <div>
    <v-row>
      <v-col cols="12">
        <TheGrid
          ref="cashierGrid"
          :title="title"
          :endPoint="endPoint"
          :headers="headers"
          :filters="filters"
          :actions="actions"
          class="ma-1"
          @action:createIn="openModalCashIn"
          @action:createOut="openModalCashOut"
        />
      </v-col>
    </v-row>
    <TheSnackbar ref="snackbar" />
    <v-row justify="center">
      <v-dialog v-model="created_in.dialog" persistent max-width="600px;">
        <v-form ref="formCashIn" @keyup.native.enter="doCreateIn">
          <v-card>
            <v-card-title>
              <span class="headline">Kas Masuk</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col class="d-flex" cols="12" sm="6" md="3">
                    <v-text-field 
                      label="Nominal *"
                      type="number"
                      v-model="created_in.data.nominal"
                      name="nominal"
                      required
                      :error-messages="created_in.feedback.data.nominal"
                      >
                    </v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="3">
                    <v-text-field 
                    label="keterangan"
                    type="string"
                    v-model="created_in.data.note"
                    name="note"
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="grey darken-1"  @click="closeDialogCreatedIn">Tutup</v-btn>
              <v-btn color="primary" @click="doCreateIn">Simpan</v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-dialog>

      <v-dialog v-model="created_out.dialog" persistent max-width="600px;">
        <v-form ref="formCashOut" @keyup.native.enter="doCreateOut">
          <v-card>
            <v-card-title>
              <span class="headline">Kas Keluar</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col class="d-flex" cols="12" sm="6" md="3">
                    <v-text-field 
                      label="Nominal *"
                      type="number"
                      v-model="created_out.data.nominal"
                      name="nominal"
                      required
                      :error-messages="created_out.feedback.data.nominal"
                      >
                    </v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="3">
                    <v-text-field 
                    label="keterangan"
                    type="string"
                    v-model="created_out.data.note"
                    name="note"
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="grey darken-1"  @click="closeDialogCreatedOut">Tutup</v-btn>
              <v-btn color="primary" @click="doCreateOut">Simpan</v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-dialog>
    </v-row>
  </div>
</template>

<script>
import TheGrid from "@/components/TheGrid";
import TheSnackbar from "@/components/TheSnackbar";
export default {
  name: "TheCashier",
  components: { TheGrid, TheSnackbar },
  data: () => ({
    title: "Laporan Kas",
    endPoint: "cashier/list",
    filters: [],
    headers: [
        {
        text: "Tanggal",
        align: "start",
        sortable: true,
        width: 180,
        value: "cashier_cash_input_datetime",
        type: "datetime",
        searchType: "date"
        },
      {
        text: "Nama",
        align: "start",
        sortable: true,
        width: 120,
        value: "cashier_cash_input_user_fullname",
        type: "string",
        searchType: "string"
      },
      {
        text: "Masuk",
        align: "start",
        sortable: true,
        width: 100,
        value: "cashier_cash_in",
        type: "nominal",
        searchType: "string"
      },
      {
        text: "Keluar",
        align: "start",
        sortable: true,
        width: 100,
        value: "cashier_cash_out",
        type: "nominal",
        searchType: "string"
      },
      {
        text: "Akumulasi",
        align: "start",
        sortable: true,
        width: 120,
        value: "cashier_cash_accumulation",
        type: "nominal",
        searchType: "string"
      },
      {
        text: "Keterangan",
        align: "start",
        sortable: true,
        width: 190,
        value: "cashier_cash_note",
        type: "string",
        searchType: "string"
      },
    ],
    actions: [
      {
        name: "createIn",
        text: "Kas Masuk",
        icon: "mdi-plus-circle",
        color: "success"
      },
      {
        name: "createOut",
        text: "Kas Keluar",
        icon: "mdi-minus-circle",
        color: "warning"
      },
    ],
    created_in:{
      dialog: false,
      data:{
        nominal: null,
        note: null,
      },
      feedback: {
        msg: null,
        data: {
          nominal: null,
          note: null,
        }
      },
    },
    created_out:{
      dialog: false,
      data:{
        nominal: null,
        note: null,
      },
      feedback: {
        msg: null,
        data: {
          nominal: null,
          note: null,
        }
      },
    }
  }),
  methods:{
    openModalCashIn(){
      this.created_in.dialog = true;
      this.created_out.dialog = false;
    },
    openModalCashOut(){
      this.created_out.dialog = true;
      this.created_in.dialog = false;
    },

    resetCreatedInFeedback() {
      this.created_in.feedback.msg = null;
      this.created_in.feedback.data.nominal = null;
      this.created_in.feedback.data.note = null;
    },
    resetCreatedOutFeedback() {
      this.created_out.feedback.msg = null;
      this.created_out.feedback.data.nominal = null;
      this.created_out.feedback.data.note = null;
    },

    closeDialogCreatedIn() {
      this.created_in.dialog = false;
      this.created_in.data = {};
    },

    closeDialogCreatedOut() {
      this.created_out.dialog = false;
      this.created_out.data = {};
    },

    async doCreateIn() {
      this.resetCreatedInFeedback()
      await this.axios
        .post("cashier/in", this.created_in.data)
        .then(res => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.created_in.dialog = false;
              this.created_in.data = {};
              this.$refs.snackbar.open("success", `${data.msg}`);
              this.$refs.cashierGrid.fetch();
              break;
            case "validation":
              this.created_in.feedback.msg = data.msg;
              this.created_in.feedback.data.nominal =
                data.result.error.nominal;
              break;
            case "failed":
              this.$refs.snackbar.open("error", `${data.msg}`);
              this.closeDialogInCreated();
              this.$refs.cashierGrid.fetch();
              break;
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    async doCreateOut() {
      this.resetCreatedOutFeedback()
      await this.axios
        .post("cashier/out", this.created_out.data)
        .then(res => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.created_out.dialog = false;
              this.created_out.data = {};
              this.$refs.snackbar.open("success", `${data.msg}`);
              this.$refs.cashierGrid.fetch();
              break;
            case "validation":
              this.created_out.feedback.msg = data.msg;
              this.created_out.feedback.data.nominal =
                data.result.error.nominal;
              break;
            case "failed":
              this.$refs.snackbar.open("error", `${data.msg}`);
              this.closeDialogInCreated();
              this.$refs.cashierGrid.fetch();
              break;
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    }

  }
};
</script>

<style>
</style>