<template>
  <div>
    <v-row>
      <v-col cols="12">
        <TheGrid
          ref="categoryGrid"
          :title="title"
          :endPoint="endPoint"
          :headers="headers"
          :filters="filters"
          :actions="actions"
          class="ma-1"
          @action:create="openModalCreate"
          @action:updated="openModalUpdate"
          @action:deleted="openModalDelete"
        />
      </v-col>
    </v-row>
    <TheSnackbar ref="snackbar" />
    <v-row justify="center">
      <AddCategory 
        @addResult="addResult"/>
      <UpdateCategory 
        @addResult="addResult"
        :data="updateData"/>
      <!-- Delete Category -->
      <v-dialog v-model="deleted.dialog" :persistent="loading" max-width="400">
        <v-card>
          <v-card-title>
            <span class="headline">Konfirmasi Hapus Kategori</span>
          </v-card-title>
          <v-card-text class="text-center">
            Apakah anda yakin menghapus Kategori
            <b>{{ deleted.data.name }}</b> ?
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              ref="cancelDialogDeleted"
              color="grey darken-1"
              text
              @click="closeDialogDeleted"
              :disabled="loading"
            >Batal</v-btn>
            <v-btn color="error" text @click="doDeleted" :loading="loading">Hapus</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>

<script>
import TheGrid from "@/components/TheGrid";
import TheSnackbar from "@/components/TheSnackbar";
import AddCategory from "@/components/category/AddCategory";
import UpdateCategory from "@/components/category/UpdateCategory";
export default {
  name: "TheCategory",
  components: { TheGrid, TheSnackbar, AddCategory, UpdateCategory },
  data(){
    return{
      updateData: {},
      loading: false,
      title: "Data Kategori Produk",
      endPoint: "category/list",
      filters: [],
      headers: [
        {
          text: "Aksi",
          align: "center",
          sortable: false,
          width: 120,
          type: "action",
          options: [
            {
              text: "Ubah Kategori",
              icon: "mdi-pencil",
              name: "updated",
              color: "blue",
            },
            {
              text: "Hapus Kategori",
              icon: "mdi-delete-circle",
              name: "deleted",
              color: "red",
            },
          ],
        },
        {
          text: "Nama",
          align: "start",
          sortable: true,
          width: 150,
          value: "category_name",
          type: "string",
          searchType: "string"
        }
      ],
      actions: [
        {
          name: "create",
          text: "Tambah",
          icon: "mdi-plus-circle",
          color: "success"
        },
      ],
      deleted: {
        dialog: false,
        data:{
          name: null
        }
      }
    }
  },
  methods:{
    addResult(val) {
      this.$refs.snackbar.open(`${val.snackbar.status}`, `${val.snackbar.msg}`);
      this.$refs.categoryGrid.fetch();
    },

    async doDeleted() {
      await this.axios
      .post("category/delete", this.deleted.data)
      .then(res => {
        let data = res.data;
        switch (data.status) {
          case "success":
            this.deleted.dialog = false;
            this.deleted.data = {};
            this.$refs.snackbar.open("success", `${data.msg}`);
            this.$refs.categoryGrid.fetch();
            break;
          case "validation":
            this.deleted.feedback.msg = data.msg;
            this.deleted.feedback.data.name =
              data.result.error.name;
            break;
          case "failed":
            this.$refs.snackbar.open("error", `${data.msg}`);
            this.closeDialogDeleted();
            this.$refs.categoryGrid.fetch();
            break;
        }
      })
      .catch(function(error) {
        console.log(error);
      });
    },

    closeDialogDeleted() {
      this.deleted.dialog = false;
      this.deleted.data = {};
    },

    openModalCreate() {
      this.$store.state.dialogAddCategory = true
    },

    openModalUpdate(value) {
      this.updateData = value
      this.$store.state.dialogUpdateCategory = true
    },

    openModalDelete(value) {
      this.deleted.dialog = true
      this.deleted.data.id = value.category_id;
      this.deleted.data.name = value.category_name;
    },
  }
}
</script>

<style>

</style>