<template>
  <div>
    <TheSnackbar ref="snackbar" />
    <v-dialog
      v-model="$store.state.dialogEditPin"
      persistent
      scrollable
      max-width="400"
    >
      <v-card class="rounded-lg">
        <v-card-title> Ubah PIN Supervisor </v-card-title>
        <v-card-text>
          <v-form
            ref="formEditPIN"
            @keyup.native.enter="doSave"
            @submit.prevent
          >
            <v-alert
              border="right"
              color="red lighten-2"
              dark
              type="error"
              v-show="feedBack.global"
              >{{ feedBack.global }}</v-alert
            >
            <v-text-field
              label="PIN lama"
              prepend-inner-icon="mdi-dialpad"
              dense
              v-model="input.old_pin"
              filled
              @click:append="showPasswordOld = !showPasswordOld"
              :append-icon="showPasswordOld ? 'mdi-eye' : 'mdi-eye-off'"
              :type="showPasswordOld ? 'text' : 'password'"
              counter="4"
              :error-messages="feedBack.form.old_pin"
              :rules="[(v) => !!v || 'PIN lama harus diisi']"
            >
            </v-text-field>
            <v-text-field
              label="PIN baru"
              prepend-inner-icon="mdi-dialpad"
              dense
              v-model="input.pin"
              filled
              @click:append="showPasswordNew = !showPasswordNew"
              :append-icon="showPasswordNew ? 'mdi-eye' : 'mdi-eye-off'"
              :type="showPasswordNew ? 'text' : 'password'"
              counter="4"
              :error-messages="feedBack.form.pin"
              :rules="[(v) => !!v || 'PIN baru harus diisi']"
            >
              ></v-text-field
            >
            <v-text-field
              label="Ulangi PIN Baru"
              prepend-inner-icon="mdi-dialpad"
              dense
              v-model="input.confirm"
              filled
              @click:append="showPasswordRepeatNew = !showPasswordRepeatNew"
              :append-icon="showPasswordRepeatNew ? 'mdi-eye' : 'mdi-eye-off'"
              :type="showPasswordRepeatNew ? 'text' : 'password'"
              counter="4"
              :error-messages="feedBack.form.confirm"
              :rules="[(v) => !!v || 'Ulangi PIN baru harus diisi']"
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <table style="width: 100%">
            <tr>
              <td class="pa-1" width="50%">
                <v-btn
                  color="grey darken-1"
                  text
                  :disabled="loading"
                  @click="$store.state.dialogEditPin = false"
                >
                  Batal
                </v-btn>
              </td>
              <td class="pa-1">
                <v-btn
                  depressed
                  block
                  class="my-blue-button"
                  rounded
                  :loading="loading"
                  @click="doSave"
                >
                  Simpan
                  <v-icon right>mdi-chevron-right</v-icon>
                </v-btn>
              </td>
            </tr>
          </table>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import TheSnackbar from "@/components/TheSnackbar";
export default {
  components: { TheSnackbar },
  data() {
    return {
      showPasswordOld: false,
      showPasswordNew: false,
      showPasswordRepeatNew: false,
      input: {
        old_pin: "",
        pin: "",
        confirm: "",
      },
      feedBack: {
        global: null,
        form: {
          old_pin: null,
          pin: null,
          confirm: null,
        },
      },
      loading: false,
    };
  },

  watch: {
    "$store.state.dialogEditPin": function () {
      this.resetForm();
      this.resetFeedBack();
    },
  },

  methods: {
    resetFeedBack() {
      this.feedBack = {
        global: null,
        form: {
          old_pin: null,
          pin: null,
          confirm: null,
        },
      };
    },

    resetForm() {
      this.input = {
        old_pin: null,
        pin: null,
        confirm: null,
      };
    },

    async doSave() {
      this.resetFeedBack();
      if (this.$refs.formEditPIN.validate()) {
        this.loading = true;
        await this.axios
          .post("pin/create", this.input)
          .then((res) => {
            let data = res.data;
            switch (data.status) {
              case "success":
                this.resetForm();

                this.$store.state.dialogEditPin = false;
                this.$refs.snackbar.open("success", `${data.msg}`);
                break;
              case "validation":
                this.feedBack.global = data.msg;
                this.feedBack.form.old_pin = data.result.error.old_pin;
                this.feedBack.form.pin = data.result.error.pin;
                this.feedBack.form.confirm = data.result.error.confirm;
                break;
              case "failed":
                this.feedBack.global = data.msg;
                break;
            }
            this.loading = false;
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    },
  },
};
</script>

<style>
</style>