<template>
  <v-card class="rounded-lg" min-width="500">
    <v-card-title>
      <h4>Filter Tanggal</h4>
      <v-spacer></v-spacer>
      <v-btn depressed icon @click="$emit('close')">
        <v-icon>mdi-close-thick</v-icon>
      </v-btn></v-card-title
    >
    <v-divider></v-divider>
    <v-card-text>
      <table>
        <tr>
          <td style="width: 70%">
            <v-date-picker
              no-title
              range
              v-model="dates"
              scrollable
              color="warning"
            ></v-date-picker>
          </td>
          <td style="width: 30%">
            <table>
              <tr v-for="(item, index) in shortcut" :key="index">
                <td class="pa-1">
                  <v-btn
                    depressed
                    block
                    @click="saveDate(item.param)"
                    class="my-green-button rounded text-capitalize"
                  >
                    {{ item.title }}
                  </v-btn>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </v-card-text>
    <v-divider></v-divider>
    <v-card-actions>
      <v-btn class="my-red-button" rounded depressed @click="reset"
        ><v-icon left>mdi-restart</v-icon>Reset</v-btn
      >
      <v-spacer></v-spacer>
      <v-btn class="my-blue-button" rounded depressed @click="applyDates"
        ><v-icon left>mdi-check</v-icon>Apply</v-btn
      >
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "TheGatzaDatePicker",
  data: () => ({
    dates: [],
    shortcut: [
      { title: "Hari ini", param: "today" },
      { title: "Minggu ini", param: "week" },
      { title: "Minggu lalu", param: "lastWeek" },
      { title: "Bulan ini", param: "month" },
      { title: "Bulan lalu", param: "lastMonth" },
      { title: "Tahun ini", param: "year" },
    ],
  }),

  methods: {
    saveDate(val) {
      let newDate = new Date();
      let firstDay = "";
      let lastDay = "";
      let date1 = "";
      let date2 = "";

      switch (val) {
        case "month":
          firstDay = new Date(newDate.getFullYear(), newDate.getMonth(), 1);
          lastDay = new Date(newDate.getFullYear(), newDate.getMonth() + 1, 0);
          break;
        case "today":
          firstDay = new Date(
            newDate.getFullYear(),
            newDate.getMonth(),
            newDate.getDate(),
            1
          );
          lastDay = firstDay;
          break;
        case "year":
          firstDay = new Date(newDate.getFullYear(), 0);
          lastDay = new Date(newDate.getFullYear(), 11, 31);
          break;
        case "week":
          firstDay = new Date(
            newDate.setDate(newDate.getDate() - newDate.getDay())
          );
          lastDay = new Date(
            newDate.setDate(newDate.getDate() - newDate.getDay() + 6)
          );
          break;
        case "lastWeek":
          firstDay = new Date(
            newDate.setDate(newDate.getDate() - newDate.getDay() - 7)
          );
          lastDay = new Date(
            newDate.setDate(newDate.getDate() - newDate.getDay() + 6)
          );
          break;
        case "lastMonth":
          firstDay = new Date(newDate.getFullYear(), newDate.getMonth() - 1, 1);
          lastDay = new Date(newDate.getFullYear(), newDate.getMonth(), 0);
          break;
      }

      date1 = this.$date(firstDay).format("YYYY-MM-DD");
      date2 = this.$date(lastDay).format("YYYY-MM-DD");

      this.dates = [date1, date2];
    },

    applyDates() {
      let firstDay = "";
      let lastDay = "";
      let date1 = "";
      let date2 = "";

      firstDay = this.dates[0];
      lastDay = !this.dates[1] ? firstDay : this.dates[1];
      if (this.dates[0] > this.dates[1]) {
        firstDay = this.dates[1];
        lastDay = this.dates[0];
      }

      date1 = this.$date(firstDay).format("YYYY-MM-DD");
      date2 = this.$date(lastDay).format("YYYY-MM-DD");

      this.dates = [date1, date2];

      this.$emit("select-date", this.dates);
    },

    reset() {
      this.dates = [];
      this.$emit("reset");
    },
  },
};
</script>

<style>
</style>