<template>
  <div>
    <v-row>
      <v-col cols="12">
        <TheGrid
          ref="ingredientstGrid"
          :title="title"
          :endPoint="endPoint"
          :headers="headers"
          :filters="filters"
          :actions="actions"
          class="ma-1"
          @action:create="openModalCreate"
          @action:updated="openModalUpdate"
          @action:deleted="openModalDelete"
        />
      </v-col>
    </v-row>
    <TheSnackbar ref="snackbar" />
    <v-row justify="center">
      <AddIngredients
        @addResult="addResult"
        :category="itemsCategory"
      />
      <UpdateIngredients
        @addResult="addResult"
        :data="updateData"
        :category="itemsCategory"
      />
    </v-row>

    <!-- Delete Ingredients -->
    <v-dialog v-model="deleted.dialog" :persistent="loading" max-width="350">
      <v-card>
        <v-card-title>
          <span class="headline">Konfirmasi Hapus Bahan</span>
        </v-card-title>
        <v-card-text class="text-center">
          Apakah anda yakin menghapus bahan
          <b>{{ deleted.name }}</b> ?
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            ref="cancelDialogDeleted"
            color="grey darken-1"
            text
            @click="closeDialogDeleted()"
            :disabled="loading"
            >Batal</v-btn
          >
          <v-btn color="error" text @click="doDeleted()" :loading="loading"
            >Hapus</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import TheGrid from "@/components/TheGrid";
import TheSnackbar from "@/components/TheSnackbar";
import AddIngredients from "@/components/ingredients/AddIngredients";
import UpdateIngredients from "@/components/ingredients/UpdateIngredients";

export default {
  name: "TheIngredients",
  components: {
    TheGrid,
    TheSnackbar,
    AddIngredients,
    UpdateIngredients,
  },
  data() {
    return {
      title: "Data Produk",
      endPoint: "product/list",
      filters: [
        {
          type: "string",
          field: "product_type",
          comparison: "eq",
          value: "0",
        },
      ],
      headers: [
        {
          text: "Aksi",
          align: "center",
          sortable: false,
          width: 120,
          type: "action",
          options: [
            {
              text: "Ubah Produk",
              icon: "mdi-pencil",
              name: "updated",
              color: "blue",
            },
            {
              text: "Hapus Produk",
              icon: "mdi-delete-circle",
              name: "deleted",
              color: "red",
            },
          ],
        },
        {
          text: "Kode",
          align: "start",
          sortable: true,
          width: 70,
          value: "product_code",
          type: "string",
          searchType: "string",
        },
        {
          text: "Nama",
          align: "start",
          sortable: true,
          width: 150,
          value: "product_name",
          type: "string",
          searchType: "string",
        },
        {
          text: "Kategori",
          align: "start",
          sortable: true,
          width: 90,
          value: "product_category_name",
          type: "string",
          // searchType: "string"
        },
        {
          text: "Gambar Produk",
          align: "center",
          sortable: false,
          width: 120,
          value: "product_image_url",
          type: "image",
        },
        {
          text: "Harga Beli",
          align: "end",
          sortable: true,
          width: 90,
          value: "product_purchase_price",
          type: "nominal",
          searchType: "string",
        },
        {
          text: "Harga",
          align: "end",
          sortable: true,
          width: 90,
          value: "product_price",
          type: "nominal",
          searchType: "string",
        },
        {
          text: "Jenis Diskon",
          align: "end",
          sortable: true,
          width: 90,
          value: "product_discount_type",
          type: "string",
          // searchType: "string",
        },
        {
          text: "Nilai Diskon",
          align: "end",
          sortable: true,
          width: 90,
          value: "product_discount_value",
          type: "nominal",
          // searchType: "string"
        },
        {
          text: "Unit",
          align: "start",
          sortable: true,
          width: 50,
          value: "product_unit",
          type: "text",
          searchType: "string",
        },
        {
          text: "Deskripsi",
          align: "start",
          sortable: true,
          width: 120,
          value: "product_description",
          type: "text",
        },
      ],
      actions: [
        {
          name: "create",
          text: "Tambah Bahan Baku",
          icon: "mdi-plus-circle",
          color: "my-green-button",
        },
      ],
      loading: false,
      created: {
        dialog: false,
      },
      updated: {
        dialog: false,
      },
      deleted: {
        dialog: false,
        name: "",
        id: "",
      },
      itemsCategory: [],
      updateData: {},
    };
  },
  mounted() {
    this.getCategoryProduct()
  },
  methods: {
    addResult(val) {
      this.$refs.snackbar.open(`${val.snackbar.status}`, `${val.snackbar.msg}`);
      this.$refs.ingredientstGrid.fetch();
    },

    imgUrl(val) {
      toString((this.updated.data.img = val.path));
    },

    async getCategoryProduct() {
      await this.axios
        .get("category/options", {
          params: {},
        })
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.itemsCategory = Object.values(data.result);
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },

    closeDialogDeleted() {
      this.deleted.dialog = false;
      this.deleted.name = "";
      this.deleted.id = "0";
    },

    async doDeleted() {
      this.loading = true;

      await this.axios
        .post("product/delete", this.deleted)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.$refs.snackbar.open(
                "success",
                `Berhasil menghapus Bahan "${this.deleted.name}"`
              );
              this.closeDialogDeleted();
              this.$refs.ingredientstGrid.fetch();
              break;
            case "failed":
              this.$refs.snackbar.open(
                "error",
                `Gagal menghapus Bahan "${this.deleted.name}". ${data.msg}`
              );
              this.closeDialogActivated();
              this.$refs.ingredientstGrid.fetch();
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });

      this.loading = false;
    },

    openModalCreate(val) {
      this.$store.state.dialogAddIngredients = true;
    },

    openModalUpdate(value) {
      this.updateData = value;
      this.$store.state.dialogUpdateIngredients = true;
    },

    openModalDelete(value) {
      this.deleted.dialog = true;
      this.deleted.name = value.product_name;
      this.deleted.id = value.product_id;
      let _self = this;
    },
  },
};
</script>

<style>
</style>