<template>
  <v-container id="container-login" class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="7" md="5" xl="3">
        <v-card class="rounded container-login pa-8" elevation="0">
          <!-- <v-toolbar flat> -->
          <!-- <v-toolbar-title> -->
          <div class="text-center text-h4 mb-8">Login next POS</div>
          <!-- </v-toolbar-title> -->
          <!-- </v-toolbar> -->
          <v-card-text>
            <v-form ref="formLogin" @keyup.native.enter="doLogin" @submit.prevent>
              <v-alert
                border="right"
                color="red lighten-2"
                dark
                type="error"
                v-show="feedBack.global"
              >{{ feedBack.global }}</v-alert>
              <v-text-field
                class="mt-4"
                type="text"
                v-model="form.username"
                :error-messages="feedBack.form.username"
                :counter="10"
                maxlength="10"
                prepend-inner-icon="mdi-account"
                placeholder="Username"
                filled
                rounded
                dense
                :disabled="loading"
                :rules="[v => !!v || 'Username harus diisi']"
                autofocus
              ></v-text-field>
              <v-text-field
                class="mt-2"
                :type="showPassword ? 'text' : 'password'"
                v-model="form.password"
                :error-messages="feedBack.form.password"
                :counter="10"
                maxlength="10"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="showPassword = !showPassword"
                prepend-inner-icon="mdi-lock"
                placeholder="Password"
                filled
                rounded
                dense
                :disabled="loading"
                :rules="[v => !!v || 'Password harus diisi']"
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn
              :disabled="loading"
              class="primary--text text-capitalize"
              text
              to="/reset"
            >Lupa Password?</v-btn>
            <v-spacer />
          </v-card-actions>
          <div class="px-4">
            <v-btn
              class="my-blue-button"
              block
              depressed
              rounded
              :loading="loading"
              :disabled="loading"
              @click="doLogin"
            >Login</v-btn>
          </div>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="dialogNetworkError" persistent max-width="290" overlay-opacity="0.8">
      <v-card class="rounded">
        <v-card-title class="headline">Oops!</v-card-title>
        <v-card-text>Terkendala dalam mengakses server.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="rounded my-blue-button"
            depressed
            block
            @click="closeDialogNetwork('error')"
          >OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogNetworkNotFound" persistent max-width="290" overlay-opacity="0.8">
      <v-card class="rounded">
        <v-card-title class="headline">Oops!</v-card-title>
        <v-card-text>Permintaan Anda tidak ditemukan.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="rounded my-blue-button"
            depressed
            block
            @click="closeDialogNetwork('notfound')"
          >OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  name: "TheLogin",
  data() {
    return {
      form: {
        username: "",
        password: "",
      },
      showPassword: false,
      feedBack: {
        global: null,
        form: {
          username: null,
          password: null,
        },
      },
    };
  },

  mounted() {
    let darkMode = this.$storage.get("darkMode");
    if (darkMode) {
      this.$vuetify.theme.dark = true;
      this.$storage.set("darkMode", true);
    } else {
      this.$vuetify.theme.dark = false;
      this.$storage.set("darkMode", false);
    }
  },

  computed: {
    loading() {
      return this.$store.state.loading;
    },
    dialogNetworkError() {
      return this.$store.state.networkError;
    },
    dialogNetworkNotFound() {
      return this.$store.state.networkNotFound;
    },
  },

  methods: {
    resetFeedback() {
      this.feedBack = {
        global: null,
        form: {
          username: null,
          password: null,
        },
      };
    },

    async doLogin() {
      this.resetFeedback();
      if (this.$refs.formLogin.validate()) {
        this.$store.commit("SET", {
          key: "loading",
          value: true,
        });
        await this.axios
          .post("login", this.form)
          .then((res) => {
            let data = res.data;
            switch (data.status) {
              case "success":
                console.log(data);
                this.$store.commit("SET", {
                  key: "token",
                  value: data.result.auth_admin_token,
                });
                this.$storage.set("token", data.result.user_auth_token);

                this.$store.commit("SET", {
                  key: "userData",
                  value: data.result,
                });
                this.$storage.set("userData", data.result);

                this.$store.commit("SET", {
                  key: "isLogedIn",
                  value: true,
                });
                window.location.reload();
                break;
              case "validation":
                this.feedBack.global = data.msg;
                this.feedBack.form.username = data.result.error.username;
                this.feedBack.form.password = data.result.error.password;
                break;
              case "failed":
                this.feedBack.global = data.msg;
                break;
            }
          })
          .catch(function (error) {
            console.log(error);
          });
        this.$store.commit("SET", {
          key: "loading",
          value: false,
        });
      }
    },

    closeDialogNetwork(type) {
      if (type === "error") {
        this.$store.commit("SET", {
          key: "networkError",
          value: false,
        });
      }
      if (type === "notfound") {
        this.$store.commit("SET", {
          key: "networkNotFound",
          value: false,
        });
      }
    },
  },
};
</script>

<style scoped>
.container-login {
  background: rgb(201 214 255 / 0%);
}
.my-blue-button {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff !important;
}
</style>