<template>
  <v-navigation-drawer v-model="drawerData" temporary app>
    <div id="nav-header" class="elevation-1">
      <router-link to="/" class="ma-2">
        <v-img
          src="@/assets/next-pos-logo-white.png"
          height="20"
          align="center"
          contain
          class="mx-auto ma-1"
        ></v-img>
      </router-link>
      <div>
        <v-list-item>
          <v-list-item-avatar
            size="86"
            style="border: solid 2px #fff; background-color: #009eff"
            class="mr-1"
          >
            <v-img
              img
              :src="$store.state.userData.user_image"
              v-if="$store.state.userData.user_image != ''"
            ></v-img>

            <v-row justify="space-around" v-else>
              <v-avatar>
                <span class="white--text headline">{{
                  $helpers.aliasName($store.state.userData.user_fullname)
                }}</span>
              </v-avatar>
            </v-row>
          </v-list-item-avatar>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="subtitle white--text"
              >{{ $store.state.userData.user_fullname }}
              <v-btn
                x-small
                fab
                color="white"
                icon
                @click="$store.state.dialogEditProfile = true"
              >
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </v-list-item-title>

            <v-list-item-subtitle class="caption white--text">{{
              $store.state.userData.user_email
            }}</v-list-item-subtitle>
            <v-list-item-subtitle class="caption white--text">{{
              $store.state.userData.user_mobilephone
            }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </div>
    </div>

    <v-list nav style="overflow-y: auto; max-height: calc(100vh - 270px)">
      <template v-for="(nav, index) in navigation">
        <v-list-group
          v-if="nav.children"
          v-model="nav.active"
          :key="index"
          :prepend-icon="nav.icon"
          no-action
        >
          <template v-slot:activator>
            <v-list-item-title>{{ nav.title }}</v-list-item-title>
          </template>
          <v-list-item
            v-for="(child, i) in nav.children"
            :key="i"
            :to="child.action"
            sub-group
          >
            <v-list-item-title>{{ child.title }}</v-list-item-title>
          </v-list-item>
        </v-list-group>

        <v-list-item
          v-else
          :key="nav.title"
          :to="nav.action"
          v-model="nav.active"
          class="rounded"
        >
          <v-list-item-action class="mr-4">
            <v-icon small>{{ nav.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-title>{{ nav.title }}</v-list-item-title>
        </v-list-item>
      </template>
      <v-list-item @click="confirmLogout" class="rounded">
        <v-list-item-action class="mr-4">
          <v-icon small>mdi-logout</v-icon>
        </v-list-item-action>
        <v-list-item-title>Logout</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
  <!-- Dialog Edit Pin -->
</template>

<script>
export default {
  name: "TheNavigationDrawer",
  props: {
    drawer: {
      type: Boolean,
      default: false,
    },
    isMobile: {
      type: Boolean,
      default: false,
    },
    search: {
      type: String,
      default: "",
    },
  },
  data: () => ({
    drawerData: false,
    itemNav: [],
  }),

  mounted() {
    if (this.$store.state.userData.user_user_group_id == 1) {
      this.itemNav = [
        {
          title: "Dashboard",
          icon: "mdi-view-dashboard",
          active: false,
          action: "/",
        },
        {
          title: "Penjualan",
          icon: "mdi-point-of-sale",
          active: false,
          action: "/pos-revolution",
        },
        // {
        //   title: "Penjualan2",
        //   icon: "mdi-point-of-sale",
        //   active: false,
        //   action: "/pos-revolution",
        // },
        {
          title: "Tipe Penjualan",
          icon: "mdi-silverware-variant",
          active: false,
          action: "/sales-type",
        },
        {
          title: "Karyawan",
          icon: "mdi-account",
          active: false,
          action: "/user",
        },
        {
          title: "Shift",
          icon: "mdi-account-details",
          active: false,
          action: "/shift",
        },
        {
          title: "Pelanggan",
          icon: "mdi-account-cash",
          active: false,
          action: "/customer",
        },
        {
          title: "Diskon",
          icon: "mdi-brightness-percent",
          active: false,
          action: "/discount",
        },
        {
          title: "Kategori Produk",
          icon: "mdi-format-list-bulleted",
          active: false,
          action: "/category",
        },
        {
          title: "Produk",
          icon: "mdi-coffee",
          active: false,
          action: "/product",
        },
        {
          title: "Bahan",
          icon: "mdi-book",
          active: false,
          action: "/ingredient",
        },
        {
          title: "Resep",
          icon: "mdi-puzzle",
          active: false,
          action: "/recipe",
        },
        {
          title: "Pembelian Produk",
          icon: "mdi-cart",
          active: false,
          action: "/po",
        },
        {
          title: "Monitoring Stok",
          icon: "mdi-package-variant",
          active: false,
          action: "/stock",
        },
        {
          title: "Penyesuaian Stok",
          icon: "mdi-plus-minus-variant",
          active: false,
          action: "/stock_adjustment",
        },
        {
          title: "Riwayat Stok",
          icon: "mdi-package",
          active: false,
          action: "/stock_log",
        },
        {
          title: "Laporan Penjualan",
          icon: "mdi-chart-line",
          active: false,
          action: "/report",
        },
        {
          title: "Laba/Rugi Pembelian",
          icon: "mdi-scale-balance",
          active: false,
          action: "/report_purchase",
        },
        {
          title: "Laporan Laba/Rugi",
          icon: "mdi-finance",
          active: false,
          action: "/report_profit",
        },
      ];
    }

    if (this.$store.state.userData.user_user_group_id == 2) {
      this.itemNav = [
        {
          title: "Dashboard",
          icon: "mdi-view-dashboard",
          active: false,
          action: "/",
        },
        {
          title: "Penjualan",
          icon: "mdi-point-of-sale",
          active: false,
          action: "/pos-revolution",
        },
        {
          title: "Shift",
          icon: "mdi-account-details",
          active: false,
          action: "/shift",
        },
        {
          title: "Pelanggan",
          icon: "mdi-account-cash",
          active: false,
          action: "/customer",
        },
        {
          title: "Diskon",
          icon: "mdi-brightness-percent",
          active: false,
          action: "/discount",
        },
        {
          title: "Kategori Produk",
          icon: "mdi-format-list-bulleted",
          active: false,
          action: "/category",
        },
        {
          title: "Produk",
          icon: "mdi-coffee",
          active: false,
          action: "/product",
        },
        {
          title: "Data Stok",
          icon: "mdi-package-variant",
          active: false,
          action: "/stock",
        },
        {
          title: "Pembelian Produk",
          icon: "mdi-cart",
          active: false,
          action: "/po",
        },
        {
          title: "Penyesuaian Stok",
          icon: "mdi-plus-minus-variant",
          active: false,
          action: "/stock_adjustment",
        },
      ];
    }

    if (this.$store.state.userData.user_user_group_id == 3) {
      this.itemNav = [
        {
          title: "Penjualan",
          icon: "mdi-point-of-sale",
          active: false,
          action: "/pos-revolution",
        },
        {
          title: "Shift",
          icon: "mdi-account-details",
          active: false,
          action: "/shift",
        },
        {
          title: "Pelanggan",
          icon: "mdi-account-cash",
          active: false,
          action: "/customer",
        },
        {
          title: "Pembelian Produk",
          icon: "mdi-cart",
          active: false,
          action: "/po",
        },
      ];
    }
  },

  watch: {
    drawerData: function (newVal, oldVal) {
      this.$emit("change-drawer", newVal);
    },
    drawer: function (newVal, oldVal) {
      this.drawerData = newVal;
    },
  },

  computed: {
    navigation() {
      if (!this.search) return this.itemNav;

      //lowercase
      const search = this.search.toLowerCase();

      return this.itemNav.map(this.copy).filter(function recursiveSearch(item) {
        if (item.title.toLowerCase().includes(search)) return true;

        if (item.children) {
          item.active = true;
          return (item.children = item.children.filter(recursiveSearch)).length;
        }
      });
    },
  },

  methods: {
    confirmLogout() {
      this.$emit("confirm-logout");
    },
  },
};
</script>

<style>
</style>