<template>
  <div>
    <v-row justify="center">
      <v-col cols="12">
        <div class="text-center d-flex pb-4">
          <!-- <v-btn
            rounded
            depressed
            class="text-capitalize my-yellow-button"
          >
            {{ panel.length === 0 ? "Lihat Semua" : "Tutup" }}
          </v-btn> -->
          <!-- <v-spacer></v-spacer> -->
          <v-btn
            @click="dialogDatePicker = true"
            rounded
            depressed
            class="text-capitalize my-blue-button mr-3"
          >
          <v-icon>mdi-calendar</v-icon>
            Filter Tanggal
          </v-btn>
           <v-btn
            @click="exportData"
            rounded
            depressed
            class="text-capitalize my-blue-button"
          >
          <v-icon>mdi-file-excel</v-icon>
            Export Data
          </v-btn>
        </div>
        <v-dialog
          ref="dialog"
          v-model="dialogDatePicker"
          persistent
          width="500"
        >
          <TheGatzaDatePicker
            @select-date="setFilter"
            @close="dialogDatePicker = false"
            @reset="resetFilter"
          />
        </v-dialog>
      </v-col>
    </v-row>
    <v-card class="rounded-lg">
      <v-card-text>
        <table>
          <tr>
            <td style="width: 60%" >Modal Awal</td>
            <td style="width: 5%">Rp.</td>
            <td style="width: 55%; text-align:right;">{{ $helpers.numberFormat(summary.modal_in, 0, ',', '.') }}</td>
          </tr>
          <tr>
            <td style="width: 60%" >Pendapatan</td>
            <td style="width: 5%">Rp.</td>
            <td style="width: 55%; text-align:right;">{{ $helpers.numberFormat(summary.pendapatan, 0, ',', '.') }}</td>
          </tr>
          <tr>
            <td style="width: 60%" class="font-weight-bold">Total Pendapatan</td>
            <td style="width: 5%">Rp.</td>
            <td style="width: 55%; text-align:right;">{{ $helpers.numberFormat(summary.cash_in, 0, ',', '.') }}</td>
          </tr>
          <tr>
            <td style="width: 60%">Pengeluaran</td>
            <td style="width: 5%">Rp.</td>
            <td style="width: 55%; text-align:right;">{{ $helpers.numberFormat(summary.pengeluaran, 0, ',', '.') }}</td>
          </tr>
          <tr>
            <td style="width: 60%">Pengembalian Modal Awal</td>
            <td style="width: 5%">Rp.</td>
            <td style="width: 55%; text-align:right;">{{ $helpers.numberFormat(summary.modal_in, 0, ',', '.') }}</td>
          </tr>
          <tr>
            <td style="width: 60%" class="font-weight-bold">Total Pengeluaran</td>
            <td style="width: 5%">Rp.</td>
            <td style="width: 55%; text-align:right;">{{ $helpers.numberFormat(summary.cash_out, 0, ',', '.') }}</td>
          </tr>
          <tr>
            <td style="width: 60%" class="font-weight-bold">PROFIT</td>
            <td style="width: 5%">Rp.</td>
            <td style="width: 55%; text-align:right;">{{ $helpers.numberFormat(summary.profit, 0, ',', '.') }}</td>
          </tr>
        </table>
      </v-card-text>
    </v-card>
    <TheSnackbar ref="snackbar" />
  </div>
</template>

<script>
import TheSnackbar from "@/components/TheSnackbar";
import TheGatzaDatePicker from "@/components/TheGatzaDatePicker";
export default {
  name: "TheReportProfit",
  components: { 
    TheSnackbar,
    TheGatzaDatePicker,
  },
  data: () => ({
    dialogDatePicker: false,
    dataReport: [],
    valuesDate: [],
    summary: {},
    process_export: {
      run: false,
    },
  }),
  computed: {},
  created() {
    this.getReport();
  },
  methods: {
    setFilter(val) {
      let _self = this;

      this.valuesDate = val;

      setTimeout(function () {
        _self.getReport();
      }, 200);
      this.dialogDatePicker = false;
    },

    resetFilter() {
      let _self = this;
      this.valuesDate = [];

      setTimeout(function () {
        _self.getReport();
      }, 200);
      this.dialogDatePicker = false;
    },

    async getReport() {
      let date1 = "";
      let date2 = "";
      if (this.valuesDate.length > 0) {
        date1 = this.valuesDate[0];
        date2 = this.valuesDate[1];
      }
      await this.axios
        .get(`profit/summary`, {
          params: {
            start: date1,
            end: date2,
          },
        })
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.summary = data.result.summary;
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    async exportData(){
      this.process_export.run = true;
      let summaryExport = "";
      summaryExport = this.summary;

      await this.axios
        .get("excel/export-report-profit-wiwit", {
          params: {
            bahan: summaryExport.bahan,
            cash_in: summaryExport.cash_in,
            cash_out: summaryExport.cash_out,
            modal_in: summaryExport.modal_in,
            modal_out: summaryExport.modal_out,
            non_bahan: summaryExport.non_bahan,
            pendapatan: summaryExport.pendapatan,
            pengeluaran: summaryExport.pengeluaran,
            profit: summaryExport.profit,
          },
        })
        .then((res) => {
          this.process_export.run = false;
          if (res.status == 200) {
            window.open(res.data.result.url_export);
          }
      });
    },
  },
};
</script>

<style>
</style>