<template>
  <div>
    <v-row>
      <v-col cols="12">
        <TheGrid
          ref="recipeGrid"
          :endPoint="endPoint"
          :headers="headers"
          :filters="filters"
          :actions="actions"
          class="ma-1"
          @action:create="openDialogCreate"
          @action:updated="openDialogEdit"
          @action:deleted="openDialogDelete"
          @action:detail="openDialogDetail"
        />
      </v-col>
    </v-row>
    <TheSnackbar ref="snackbar"/>
    <v-row justify="center">
      <AddRecipe 
        @addResult="addResult"
        :product="masterProduct" 
        :ingredients="productRecipe"/>
      <UpdateRecipe 
        @addResult="addResult"
        :data="dataUpdate"
        :ingredients="productRecipe"/>
      <DetailRecipe 
        :dataDetail="dataDetail"/>
    </v-row>

    <!-- Delete Recipe -->
    <v-dialog v-model="remove.dialog" :persistent="loading" max-width="350">
      <v-card>
        <v-card-title>
          <span class="headline">Konfirmasi Hapus resep</span>
        </v-card-title>
        <v-card-text class="text-center">
          Apakah anda yakin menghapus resep
          <b>{{ remove.productRecipeName }}</b> ?
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            ref="cancelDialogDeleted"
            color="grey darken-1"
            text
            @click="closeDialogDeleted"
            :disabled="loading"
          >Batal</v-btn>
          <v-btn color="error" text @click="doDeleted" :loading="loading">Hapus</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import TheGrid from "@/components/TheGrid";
import TheSnackbar from "@/components/TheSnackbar";
import AddRecipe from "@/components/recipe/AddRecipe";
import UpdateRecipe from "@/components/recipe/UpdateRecipe";
import DetailRecipe from "@/components/recipe/DetailRecipe";
export default {
  name: "TheRecipe",
  components: { TheGrid, TheSnackbar, AddRecipe, UpdateRecipe, DetailRecipe },
  data(){
    return{
      endPoint: "recipe/list",
      filters: [],
      actions: [
        {
          name: "create",
          text: "Tambah Produk Resep",
          icon: "mdi-plus",
          color: "",
          class: "my-green-button",
        },
      ],
      headers: [
        {
          text: "Aksi",
          align: "center",
          sortable: false,
          width: 150,
          type: "action",
          options: [
            {
              text: "Detail Resep",
              icon: "mdi-clipboard-text-outline",
              name: "detail",
              color: "yellow",
            },
            {
              text: "Ubah Resep",
              icon: "mdi-pencil",
              name: "updated",
              color: "blue",
            },
            {
              text: "Hapus Resep",
              icon: "mdi-delete-circle",
              name: "deleted",
              color: "red",
            },
          ],
        },
        {
          text: "Nama Produk",
          align: "start",
          sortable: true,
          width: 100,
          value: "product_name",
          type: "string",
          searchType: "string",
        },
        {
          text: "Jumlah Bahan Baku",
          align: "end",
          sortable: true,
          width: 100,
          value: "total_recipe",
          type: "number",
          searchType: "string",
        },
        {
          text: "Tanggal Dibuat",
          align: "start",
          sortable: true,
          width: 100,
          value: "product_composition_input_datetime",
          type: "date",
          searchType: "string",
        },
        {
          text: "Pembuat",
          align: "start",
          sortable: true,
          width: 100,
          value: "product_composition_input_user_fullname",
          type: "string",
          searchType: "string",
        },
      ],
      masterProduct: [],
      productRecipe: [],
      dataDetail: {},
      dataUpdate: {},
      remove: {
        productId: null,
        productRecipeName:"",
        dialog: false,
      },
      loading: false,
    }
  },
  created() {
    this.getMasterProduct()
    this.getProductRecipe()
  },
  methods:{
    addResult(val) {
      this.$refs.snackbar.open(`${val.snackbar.status}`, `${val.snackbar.msg}`);
      this.$refs.recipeGrid.fetch();
    },

    async openDialogCreate() {
      await this.getMasterProduct()
      await this.getProductRecipe()
      this.$store.state.dialogAddRecipe = true
    },

    async openDialogEdit(value) {
      console.log(value)
      let open = () =>{
        this.$store.state.dialogUpdateRecipe = true
      }
      this.dataUpdate = value
      await this.getProductRecipe()
      await this.getMasterProduct()
      await open()
    },

    openDialogDetail(value){
      this.dataDetail = value
      this.$store.state.dialogDetailRecipe = true
      console.log(value)
    },

    openDialogDelete(value) {
      this.remove.dialog = true;
      this.remove.productId = value.product_composition_master_id;
      this.remove.productRecipeName = value.product_name;
      let _self = this;
      setTimeout(function () {
        _self.$refs.cancelDialogDeleted.$el.focus();
      }, 200);
    },

    async doDeleted() {
      this.loading = true;

      await this.axios
        .post("recipe/delete", this.remove)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.$refs.snackbar.open(
                "success",
                `Berhasil menghapus resep "${this.remove.productRecipeName}"`
              );
              this.closeDialogDeleted();
              this.$refs.recipeGrid.fetch();
              break;
            case "failed":
              this.$refs.snackbar.open(
                "error",
                `Gagal menghapus resep "${this.remove.productRecipeName}". ${data.msg}`
              );
              this.closeDialogActivated();
              this.$refs.recipeGrid.fetch();
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });

      this.loading = false;
    },

    closeDialogDeleted() {
      this.remove.dialog = false;
      this.remove.productRecipeName = "";
      this.remove.productId = null;
    },

    async getMasterProduct(){
      await this.axios
      .get(`recipe/product-list`, {
        params: {},
      })
      .then((res) => {
        let data = res.data;
        switch (data.status) {
          case "success":
            this.masterProduct = data.result.data
            break;
        }
      })
      .catch(function (error) {
        console.log(error);
      });
    },

    async getProductRecipe(){
      await this.axios
      .get(`recipe/product-recipe-list`, {
        params: {},
      })
      .then((res) => {
        let data = res.data;
        switch (data.status) {
          case "success":
            this.productRecipe = data.result.data
            break;
        }
      })
      .catch(function (error) {
        console.log(error);
      });
    }
  }
}
</script>

<style>

</style>