<template>
  <div>
    <v-row justify="center">
      <v-col cols="12">
        <div class="text-center d-flex pb-4">
          <v-btn
            v-show="reportList"
            @click="all"
            rounded
            depressed
            class="text-capitalize my-yellow-button"
          >
            {{ panel.length === 0 ? "Lihat Semua" : "Tutup" }}
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            @click="dialogDatePicker = true"
            rounded
            depressed
            class="text-capitalize my-blue-button mr-5"
          >
            Filter Tanggal
          </v-btn>
          <v-btn
            @click="exportData"
            rounded
            depressed
            class="text-capitalize my-blue-button"
          >
          <v-icon>mdi-file-excel</v-icon>
            Export Data
          </v-btn>
        </div>
        <v-dialog
          ref="dialog"
          v-model="dialogDatePicker"
          persistent
          width="500"
        >
          <TheGatzaDatePicker
            @select-date="setFilter"
            @close="dialogDatePicker = false"
            @reset="resetFilter"
          />
        </v-dialog>
        <!-- <TheDatePicker @date="getReport" /> -->
        <v-row>
          <!-- Summary -->
          <v-col>
            <v-simple-table dense>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">Summary</th>
                    <th class="text-right">Gross Sales(Rp)</th>
                    <th class="text-right">Discount(Rp)</th>
                    <th class="text-right">Netto(Rp)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td class="text-right">
                      {{
                        $helpers.numberFormat(summary.gross_sales, 0, ",", ".")
                      }}
                    </td>
                    <td class="text-right">
                      {{
                        $helpers.numberFormat(
                          summary.discount_sales,
                          0,
                          ",",
                          "."
                        )
                      }}
                    </td>
                    <td class="text-right">
                      {{
                        $helpers.numberFormat(summary.nett_sales, 0, ",", ".")
                      }}
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-col>
        </v-row>

        <!-- Detail -->
        <v-expansion-panels v-model="panel" multiple>
          <v-expansion-panel v-for="(item, index) in reportList" :key="index">
            <v-expansion-panel-header>
              <v-list-item class="px-0" two-line>
                <v-list-item-content>
                  <v-list-item-title>{{
                    $date(item.datetime).format("DD MMMM YYYY (hh:mm a)")
                  }}</v-list-item-title>
                  <v-list-item-subtitle>
                    <table style="width: 100%">
                      <tr>
                        <td style="width: 25%">
                          Harga : Rp
                          {{
                            $helpers.numberFormat(
                              item.product_price,
                              0,
                              ",",
                              "."
                            )
                          }}
                        </td>
                        <td style="width: 25%">
                          Diskon : Rp
                          {{
                            $helpers.numberFormat(
                              item.nominal_discount,
                              0,
                              ",",
                              "."
                            )
                          }}
                        </td>
                        <td style="width: 25%">
                          Netto : Rp
                          {{
                            $helpers.numberFormat(item.nett_price, 0, ",", ".")
                          }}
                        </td>
                        <td style="width: 25%">
                          Total Harga : Rp
                          {{
                            $helpers.numberFormat(item.grand_total, 0, ",", ".")
                          }}
                        </td>
                      </tr>
                    </table>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <table style="width: 100%">
                <tr class="caption">
                  <th style="width: 20%; text-align: left">Nama Produk</th>
                  <th style="width: 20%; text-align: right">Harga(Rp)</th>
                  <th style="width: 20%; text-align: right">Jumlah</th>
                  <th style="width: 20%; text-align: right">Diskon(Rp)</th>
                  <th style="width: 20%; text-align: right">Netto(Rp)</th>
                </tr>
                <tr
                  class="caption"
                  v-for="(detail, detailIndex) in item.detail"
                  :key="detailIndex"
                >
                  <td>{{ detail.name }}</td>
                  <td style="text-align: right">
                    {{ $helpers.numberFormat(detail.price, 0, ",", ".") }}
                  </td>
                  <td style="text-align: right">
                    {{ $helpers.numberFormat(detail.qty, 0, ",", ".") }}
                  </td>
                  <td style="text-align: right">
                    {{ $helpers.numberFormat(detail.discount, 0, ",", ".") }}
                  </td>
                  <td style="text-align: right">
                    {{ $helpers.numberFormat(detail.nett_price, 0, ",", ".") }}
                  </td>
                </tr>
              </table>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
        <div class="text-center">
          <v-pagination
            v-model="pagination.page"
            :length="pagination.pageLength"
            :total-visible="7"
            circle
          ></v-pagination>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
// import TheDatePicker from "@/components/TheDatePicker";
import TheGatzaDatePicker from "@/components/TheGatzaDatePicker";
export default {
  components: {
    // TheDatePicker,
    TheGatzaDatePicker,
  },
  name: "TheReport",
  data: () => ({
    dialogDatePicker: false,
    reportList: [],
    panel: [],
    pagination: {
      page: 1,
      pageLength: 0,
    },
    dialog: {
      expand: false,
    },
    process_export: {
      run: false,
    },
    summary: {},
    valuesDate: [],
  }),
  computed: {},
  watch: {
    pagination: {
      handler: function (val, oldVal) {
        this.getReport();
      },
      deep: true,
    },
  },
  created() {
    this.getReport();
  },
  methods: {
    setFilter(val) {
      let _self = this;

      this.valuesDate = val;

      setTimeout(function () {
        _self.getReport();
      }, 200);
      this.dialogDatePicker = false;
    },

    resetFilter() {
      let _self = this;
      this.valuesDate = [];

      setTimeout(function () {
        _self.getReport();
      }, 200);
      this.dialogDatePicker = false;
    },

    hideComponent() {
      if (
        this.$vuetify.breakpoint.name === "sm" ||
        this.$vuetify.breakpoint.name === "xs"
      ) {
        this.hide == "d-none" ? (this.hide = "d-flex") : (this.hide = "d-none");
      }
      this.dialog.expand == true
        ? (this.dialog.expand = false)
        : (this.dialog.expand = true);
    },
    all() {
      if (this.reportList) {
        if (this.panel.length === 0) {
          this.panel = [...Array(this.reportList.length).keys()].map(
            (k, i) => i
          );
        } else {
          this.panel = [];
        }
      }
    },
    async getReport() {
      let date1 = "";
      let date2 = "";
      if (this.valuesDate.length > 0) {
        date1 = this.valuesDate[0];
        date2 = this.valuesDate[1];
      }
      await this.axios
        .get(`report/list`, {
          params: {
            page: this.pagination.page,
            start: date1,
            end: date2,
          },
        })
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.summary = data.result.summary;
              this.reportList = data.result.data.report;
              this.pagination.pageLength = data.result.pagination.totalPage;
              this.panel = [];
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    async exportData(){
      this.process_export.run = true;
      let date1 = "";
      let date2 = "";
      if (this.valuesDate.length > 0) {
        date1 = this.valuesDate[0];
        date2 = this.valuesDate[1];
      }
      await this.axios
        .get("excel/export-report-penjualan", {
          params: {
            start: date1,
            end: date2,
          },
        })
        .then((res) => {
          this.process_export.run = false;
          if (res.status == 200) {
            window.open(res.data.result.url_export);
          }
      });
    },
  },
};
</script>