<template>
  <div>
    <v-row>
      <v-col cols="12">
        <TheGrid
          ref="stockLogGrid"
          :title="title"
          :endPoint="endPoint"
          :headers="headers"
          :filters="filters"
          class="ma-1"
        />
      </v-col>
    </v-row>
    <TheSnackbar ref="snackbar" />
  </div>
</template>

<script>
import TheGrid from "@/components/TheGrid";
import TheSnackbar from "@/components/TheSnackbar";
export default {
  name: "TheStockLog",
  components: { TheGrid, TheSnackbar },
  data: () => ({
    title: "Data Riwayat Stok",
    endPoint: "stock/list_log",
    filters: [],
    headers: [
      {
        text: "Kode Stok",
        align: "start",
        sortable: true,
        width: 70,
        value: "stock_log_code",
        type: "string",
        searchType: "string"
      },
      {
        text: "Kode Produk",
        align: "start",
        sortable: true,
        width: 70,
        value: "stock_log_product_code",
        type: "string",
        searchType: "string"
      },
      {
        text: "Produk",
        align: "start",
        sortable: true,
        width: 90,
        value: "stock_log_product_name",
        type: "string",
        searchType: "string"
      },
      {
        text: "Jumlah",
        align: "end",
        sortable: true,
        width: 20,
        value: "stock_log_qty",
        type: "nominal",
        searchType: "string"
      },
      {
        text: "Jenis",
        align: "start",
        sortable: true,
        width: 30,
        value: "stock_log_movement_type",
        type: "chip",
        options: {
            color: {
                "1": "success",
                "2": "error"
          },
          text: {
              "1": "IN",
              "2": "OUT"
          }
        },
        searchType: "option",
        searchOptions: [
          {
            text: "IN",
            value: "1"
          },
          {
            text: "OUT",
            value: "2"
          }
        ]
        },
        {
        text: "Transaksi",
        align: "start",
        sortable: true,
        width: 90,
        value: "stock_log_transaction_type",
        type:"chip",
        searchType: "string",
        options: {
          color: {
              "1": "success",
              "2": "error",
              "3": ""
          },
          text: {
              "1": "Pembelian",
              "2": "Penjualan",
              "3": "Penyesuaian"
          }
        },
        searchOptions: [
          {
            text: "Pembelian",
            value: "1"
          },
          {
            text: "Penjualan",
            value: "2"
          }
        ]
      }
    ]
  })
};
</script>

<style>
</style>