<template>
  <div>
    <v-row>
      <v-col cols="12">
        <TheGrid
          ref="salesorderGrid"
          :title="title"
          :endPoint="endPoint"
          :headers="headers"
          :filters="filters"
          :summary="summary"
          class="ma-1"
          @action:detail="openModalDetail"
        />
      </v-col>
    </v-row>
    <TheSnackbar ref="snackbar" />
    <v-row justify="center">

    <v-dialog
      v-model="dialog"
    >
      <v-card>
        <v-card-title class="headline">Data Detail Penjualan</v-card-title>

        <v-card-text>
           <v-card 
            class="mx-auto mb-2" 
            max-width="344" 
            shaped
            v-for="(detail, i) in details"
            :key="i"
            >
    <v-list-item three-line>
      <v-list-item-content>
        <v-list-item-title class="headline mb-1">{{ detail.sales_order_detail_product_name }}</v-list-item-title>
        <v-list-item-subtitle>Jumlah : {{ $helpers.numberFormat(detail.sales_order_detail_product_qty,0, ',','.') }}</v-list-item-subtitle>
        <v-list-item-subtitle>Harga : {{ $helpers.numberFormat(detail.sales_order_detail_product_selling_price,0, ',','.') }}</v-list-item-subtitle>
        <v-list-item-subtitle>Total : {{ $helpers.numberFormat(detail.sales_order_detail_product_subtotal_price,0, ',','.') }}</v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-avatar
        tile
        size="80"
        color="grey"
      ></v-list-item-avatar>
    </v-list-item>
  </v-card>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            text
            @click="dialog = false"
          >
            Tutup
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
  </div>
</template>

<script>
import TheGrid from "@/components/TheGrid";
import TheSnackbar from "@/components/TheSnackbar";
export default {
  name: "TheSalesOrder",
  components: { TheGrid, TheSnackbar },
  data: () => ({
    title: "Laporan Penjualan",
    endPoint: "sales_order/list",
    filters: [],
    summary: true,
    headers: [
      {
        text: "Detail",
        align: "center",
        sortable: false,
        width: 150,
        type: "action",
        options: [
          {
            text: "Detail Penjualan",
            icon: "mdi-book-open",
            name: "detail",
            color: "blue",
          }
        ],
      },
      {
        text: "Tanggal",
        align: "start",
        sortable: true,
        width: 120,
        value: "sales_order_date",
        type: "string"
      },
      {
        text: "Kode",
        align: "start",
        sortable: true,
        width: 150,
        value: "sales_order_transaction_number",
        type: "string"
      },
      {
        text: "Jumlah Produk",
        align: "end",
        sortable: true,
        width: 50,
        value: "sales_order_total_product_qty",
        type: "nominal"
      },
      {
        text: "Diskon",
        align: "end",
        sortable: true,
        width: 80,
        value: "sales_order_total_discount_nominal",
        type: "nominal"
      },
      {
        text: "Harga",
        align: "end",
        sortable: true,
        width: 80,
        value: "sales_order_total_product_price",
        type: "nominal"
      },
      {
        text: "Subtotal",
        align: "end",
        sortable: true,
        width: 80,
        value: "sales_order_total_nett_price",
        type: "nominal"
      },
      {
        text: "Pajak",
        align: "end",
        sortable: true,
        width: 80,
        value: "sales_order_total_tax_nominal",
        type: "nominal"
      },
      {
        text: "Pembayaran",
        align: "start",
        sortable: true,
        width: 50,
        value: "sales_order_payment_method",
        type: "string"
      },
      {
        text: "Total Bayar",
        align: "end",
        sortable: true,
        width: 80,
        value: "sales_order_grand_total",
        type: "nominal"
      },
    ],
    dialog: false,
    details:[]
  }),
  
  methods: {
    openModalDetail(data) {
      this.dialog = true
      this.details = data.detail
    }
  }
}
</script>

<style>
</style>