<template>
  <div>
    <v-row>
      <v-col cols="12">
        <TheGrid
          ref="stockGrid"
          :title="title"
          :endPoint="endPoint"
          :headers="headers"
          :filters="filters"
          class="ma-1"
          @action:detail="openModalDetail"
        />
      </v-col>
    </v-row>
    <TheSnackbar ref="snackbar" />
    <v-row>
      <!-- Dialog Detail -->
      <v-dialog scrollable v-model="detail.dialog" persistent max-width="600px;">
        <v-form ref="formCreate" @keyup.native.enter="doCreate">
          <v-card>
            <v-card-title>
              <span class="headline">Detail Shift</span>
            </v-card-title>
            <v-card-text  style="height: 400px;">
              <v-container>
                <v-row>
                  <!-- Summary -->
                  <v-col>
                    <v-simple-table dense style="width:100%">
                      <template v-slot:default>
                        <thead>
                          <tr>
                            <th class="text-left">Total Pendapatan</th>
                            <th class="text-right">Tunai</th>
                            <th class="text-right">OVO</th>
                            <th class="text-right">Gopay</th>
                            <th class="text-right">EDC</th>
                            <th class="text-right">Transfer</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td></td>
                            <td class="text-right">{{$helpers.numberFormat(detail.data.incomeTunai, 0, ",", ".")}}</td>
                            <td class="text-right">{{$helpers.numberFormat(detail.data.incomeOvo, 0, ",", ".")}}</td>
                            <td class="text-right">{{$helpers.numberFormat(detail.data.incomeGopay, 0, ",", ".")}}</td>
                            <td class="text-right">{{$helpers.numberFormat(detail.data.incomeEdc, 0, ",", ".")}}</td>
                            <td class="text-right">{{$helpers.numberFormat(detail.data.incomeTransfer, 0, ",", ".")}}</td>
                          </tr>
                        </tbody>
                      </template>
                    </v-simple-table>
                  </v-col>

                  <!-- Detail Transaction -->
                  <v-expansion-panels v-model="detail.panel" multiple>
                    <v-expansion-panel
                      v-for="(item,index) in detail.data.transaction"
                      :key="index">
                      <v-expansion-panel-header>
                        <v-list-item two-line>
                          <v-list-item-content>
                            <v-list-item-title>{{$date(item.sales_order_input_datetime).format("DD MMMM YYYY (hh:mm a)") }}</v-list-item-title>
                            <v-list-item-subtitle>{{item.sales_order_transaction_number}}</v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>
                      </v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <table style="width:100%">
                          <tr class="caption">
                            <th style="width:25%; text-align:left">Nama Pelanggan</th>
                            <th style="width:25%; text-align:left">Tipe Penjualan</th>
                            <th style="width:25%; text-align:right">Kuantitas</th>
                            <th style="width:25%; text-align:right">Total harga</th>
                          </tr>
                          <tr 
                            class="caption">
                            <td style="text-align:left">{{item.sales_order_customer_name}}</td>
                            <td>{{item.sales_order_sales_type_name}}</td>
                            <td style="text-align:right">{{$helpers.numberFormat(item.sales_order_total_product_qty, 0, ",", ".")}}</td>
                            <td style="text-align:right">{{$helpers.numberFormat(item.sales_order_grand_total, 0, ",", ".")}}</td>
                          </tr>
                        </table>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="grey darken-1" @click="detail.dialog = false; detail.panel = []">Tutup</v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-dialog>
    </v-row>
  </div>
</template>

<script>
import TheGrid from "@/components/TheGrid";
import TheSnackbar from "@/components/TheSnackbar";
export default {
  name: "TheShift",
  components: { TheGrid, TheSnackbar },
  data: () => ({
    title: "Data Penjualan Per Shift",
    endPoint: "shift/list",
    filters: [],
    headers: [
      {
        text: "Aksi",
        align: "center",
        sortable: false,
        width: 120,
        type: "action",
        options: [
          {
            text: "Detail",
            icon: "mdi-eye",
            name: "detail",
            color: "blue",
          }
        ],
      },
      {
        text: "Nama pegawai",
        align: "start",
        sortable: true,
        width: 100,
        value: "close_register_input_user_fullname",
        type: "string",
        searchType: "string"
      },
      {
        text: "Awal Shift",
        align: "start",
        sortable: true,
        width: 120,
        value: "shift_start_date",
        type: "datetime",
        searchType: "string"
      },
      {
        text: "Akhir Shift",
        align: "start",
        sortable: true,
        width: 120,
        value: "close_register_input_datetime",
        type: "datetime",
        searchType: "string"
      },
      {
        text: "Kas Masuk",
        align: "end",
        sortable: true,
        width: 70,
        value: "close_register_total_cashier_cash_in",
        type: "nominal",
        searchType: "string"
      },
      {
        text: "Kas Diterima",
        align: "end",
        sortable: true,
        width: 70,
        value: "close_register_total_cash_received",
        type: "nominal",
        searchType: "string"
      },
      {
        text: "Pendapatan (Cash)",
        align: "end",
        sortable: true,
        width: 70,
        value: "close_register_total_income_cash",
        type: "nominal",
        searchType: "string"
      },
      {
        text: "Pendapatan (Non Cash)",
        align: "end",
        sortable: true,
        width: 70,
        value: "close_register_total_income_non_cash",
        type: "nominal",
        searchType: "string"
      },
      {
        text: "Kas Keluar",
        align: "end",
        sortable: true,
        width: 70,
        value: "close_register_total_cashier_cash_out",
        type: "nominal",
        searchType: "string"
      },
      {
        text: "Total",
        align: "end",
        sortable: true,
        width: 70,
        value: "close_register_grand_total",
        type: "nominal",
        searchType: "string"
      },
    ],
    detail: {
      dialog: false,
      panel:[],
      data: {
        transaction: [],
        incomeTunai: 0,
        incomeEdc: 0,
        incomeTransfer: 0,
        incomeOvo: 0,
        incomeGopay: 0
      }
    }
  }),

  methods:{
    openModalDetail(value){
      let detail = this.detail.data
      let detailNonCash = JSON.parse(value.close_register_total_income_detail_json)
      
      detail.incomeTunai = value.close_register_total_income_cash
      detail.incomeEdc = detailNonCash.edc
      detail.incomeTransfer = detailNonCash.transfer
      detail.incomeOvo = detailNonCash.ovo
      detail.incomeGopay = detailNonCash.gopay
      detail.transaction = value.detail

      this.detail.dialog = true
    }
  },
};
</script>

<style>
</style>