<template>
  <div>
    <v-row>
      <v-col cols="12">
        <TheGrid
          ref="stockAdjustmentGrid"
          :title="title"
          :endPoint="endPoint"
          :headers="headers"
          :filters="filters"
          :actions="actions"
          class="ma-1"
          @action:create="openModalCreate"
        />
      </v-col>
    </v-row>
    <TheSnackbar ref="snackbar" />
    <v-row justify="center">
      <v-dialog
        v-model="created.dialog"
        scrollable
        persistent
        max-width="800"
        height="700"
      >
        <v-card class="rounded-lg">
          <v-card-title>
            <h4>Penyesuaian Stok</h4>
            <v-spacer></v-spacer>
            <v-btn
              depressed
              icon
              :disabled="loading"
              @click="closeDialogCreated"
            >
              <v-icon>mdi-close-thick</v-icon>
            </v-btn>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text style="height: 600px">
            <v-form ref="formCreate" @keyup.native.enter="doCreate">
              <v-row>
                <v-col cols="12">
                  <v-autocomplete
                    v-model="created.form.items"
                    :items="items"
                    filled
                    chips
                    attach
                    deletable-chips
                    multiple
                    label="Pilih produk yang akan disesuaikan"
                    item-color="#fff"
                    item-text="product_name"
                    hide-selected
                    autofocus
                    return-object
                    :menu-props="{ maxHeight: 200 }"
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12">
                  <p class="caption">
                    <v-icon color="#f39c12">mdi-information</v-icon>
                    <i
                      >*Beri tanda minus pada kolom stok penyesuaian apabila
                      ingin mengurangi stok</i
                    >
                  </p>
                  <v-simple-table fixed-header height="250px">
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th class="text-center" style="width: 10%">Kode</th>
                          <th class="text-left" style="width: 25%">Nama</th>
                          <th class="text-center" style="width: 15%">
                            Stok Sebelumnya
                          </th>
                          <th class="text-center" style="width: 10%">Satuan</th>
                          <th class="text-center" style="width: 15%">
                            Stok Penyesuaian
                          </th>
                          <th class="text-center" style="width: 25%">
                            Keterangan
                          </th>
                        </tr>
                      </thead>
                      <tbody v-if="created.form.items.length > 0">
                        <tr
                          v-for="(item, index) in created.form.items"
                          :key="index"
                        >
                          <td class="text-center">{{ item.product_code }}</td>
                          <td class="text-left">{{ item.product_name }}</td>
                          <td class="text-center">{{ item.stock_balance }}</td>
                          <td class="text-center">{{ item.product_unit }}</td>
                          <td class="text-center">
                            <v-currency-field
                              filled
                              dense
                              v-model="created.form.items[index].qty"
                              hide-details
                              class="currency-center"
                            />
                          </td>
                          <td class="text-left">
                            <v-text-field
                              filled
                              dense
                              hide-details
                              v-model="created.form.items[index].note"
                            ></v-text-field>
                          </td>
                        </tr>
                      </tbody>
                      <tbody v-else>
                        <tr>
                          <td colspan="6" class="text-center">
                            Pilih produk yang akan disesuaikan terlebih dahulu.
                          </td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              class="my-blue-button"
              rounded
              depressed
              :loading="loading"
              @click="doCreate"
            >
              <v-icon class="mr-2">mdi-content-save</v-icon>Simpan
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>

<script>
import TheGrid from "@/components/TheGrid";
import TheSnackbar from "@/components/TheSnackbar";
export default {
  name: "TheStockAdjustment",
  components: { TheGrid, TheSnackbar },
  data: () => ({
    title: "Data Penyesuaian Stok",
    endPoint: "stock_adjustment/list",
    filters: [],
    headers: [
      {
        text: "Tanggal",
        align: "start",
        sortable: true,
        width: 70,
        value: "stock_adjustment_input_datetime",
        type: "date",
        searchType: "date",
      },
      {
        text: "Kode Produk",
        align: "start",
        sortable: true,
        width: 80,
        value: "stock_adjustment_product_code",
        type: "string",
        searchType: "string",
      },
      {
        text: "Nama Produk",
        align: "start",
        sortable: true,
        width: 80,
        value: "stock_adjustment_product_name",
        type: "string",
        searchType: "string",
      },
      {
        text: "Stok Sebelum",
        align: "end",
        sortable: true,
        width: 100,
        value: "stock_adjustment_system_qty",
        type: "nominal",
        searchType: "string",
      },
      {
        text: "Stok Penyesuaian",
        align: "end",
        sortable: true,
        width: 100,
        value: "stock_adjustment_qty",
        type: "nominal",
        searchType: "string",
      },
      {
        text: "Stok Setelah",
        align: "end",
        sortable: true,
        width: 100,
        value: "stock_adjustment_after_qty",
        type: "nominal",
        searchType: "string",
      },
      {
        text: "Keterangan",
        align: "start",
        sortable: true,
        width: 20,
        value: "stock_adjustment_note",
        type: "string",
      },
    ],
    items: [],
    actions: [
      {
        name: "create",
        text: "Tambah Penyesuaian",
        icon: "mdi-plus-circle",
        class: "my-green-button",
      },
    ],
    loading: false,
    created: {
      dialog: false,
      form: {
        items: [],
      },
      feedback: {
        msg: null,
        form: {
          items: null,
        },
      },
    },
  }),

  watch: {
    "created.dialog": function (value) {
      if (!value) {
        this.resetItems();
      }
    },
  },

  mounted() {
    this.getDataProduct();
  },

  methods: {
    resetItems() {
      this.items.map((item) => {
        item.qty = 0;
        item.note = "";

        return item;
      });
    },

    openModalCreate() {
      this.resetCreatedFeedback();
      this.created.dialog = true;
    },

    resetCreatedFeedback() {
      this.created.feedback.msg = null;
      this.created.feedback.form.items = null;
    },

    closeDialogCreated() {
      this.created.dialog = false;
      this.created.form.items = [];
    },

    async getDataProduct() {
      this.loading = true;
      await this.axios
        .get("stock_adjustment/product_options", {
          params: {},
        })
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.items = data.result.data;
              break;
          }
          this.loading = false;
        })
        .catch(function (error) {
          console.log(error);
        });
    },

    async doCreate() {
      this.resetCreatedFeedback();

      let isValid = true;
      if (this.created.form.items.length > 0) {
        this.created.form.items.forEach(function (item, index) {
          if (item.qty == 0) {
            isValid = false;
          }
        });
      } else {
        isValid = false;
      }

      if (isValid) {
        this.loading = true;
        await this.axios
          .post("stock_adjustment/create", {
            items: JSON.stringify(this.created.form.items),
          })
          .then((res) => {
            let data = res.data;
            switch (data.status) {
              case "success":
                this.created.dialog = false;
                this.created.form.items = [];
                this.$refs.snackbar.open("success", `${data.msg}`);
                this.$refs.stockAdjustmentGrid.fetch();
                break;
              case "validation":
                this.created.feedback.msg = data.msg;
                this.created.feedback.form.items = data.error.items;
                break;
              case "failed":
                this.created.feedback.msg = data.msg;
                this.$refs.stockAdjustmentGrid.fetch();
                break;
            }

            this.loading = false;
          })
          .catch(function (error) {
            console.log(error);
          });
      } else {
        this.$refs.snackbar.open("error", `Form stok penyesuaian belum valid`);
      }
    },
  },
};
</script>

<style>
.currency-center input {
  text-align: center !important;
}
</style>