<template>
  <section>
    <v-dialog scrollable v-model="$store.state.dialogAddRecipe" persistent max-width="600">
      <v-form ref="formCreate" @keyup.native.enter="doCreate()">
        <v-card class="rounded">
          <v-card-title>
            <h4>Tambah Resep Produk</h4>
            <v-spacer></v-spacer>
            <v-btn
              depressed
              icon
              :disabled="loading"
              @click="closeDialogCreated()"
            >
              <v-icon>mdi-close-thick</v-icon>
            </v-btn>
          </v-card-title>
          <v-card-text style="height: 500px;">
            <v-container>
              <!-- Add Form -->
              <v-row>
                <v-col cols="12">
                  <v-autocomplete
                    v-model="add.input.masterProductId"
                    :items="product"
                    item-text="product_name" 
                    item-value="product_id"
                    filled
                    dense
                    clearable
                    return-string
                    :loading="loading"
                    autofocus
                    label="Nama Produk *"
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12" class="pb-0">
                  <v-autocomplete
                    v-model="add.input.arrayProductRecipe"
                    :items="ingredients"
                    item-text="product_name" 
                    item-value="product_id"
                    filled
                    dense
                    clearable
                    return-object
                    :loading="loading"
                    autofocus
                    small-chips
                    multiple
                    label="Nama Bahan *">
                  </v-autocomplete>
                </v-col>
                <v-col cols="12" class="pt-0">
                  <table style="width:100%; margin-top:1rem" v-for="(item, index) in add.input.arrayProductRecipe" :key="index">
                    <tr>
                      <td>
                        <p class="font-weight-bold">{{item.product_name}} ({{item.product_unit}})</p>
                      </td>
                    </tr>
                    <tr>
                      <td style="width:40%; padding-right:6px">
                        <v-currency-field
                          id="right"
                          dense
                          outlined
                          label="Kuantitas *"
                          onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                          v-model="add.input.productRecipeQty[item.product_id]"
                          required
                          hide-details
                          :loading="loading"/>
                      </td>
                      <td style="width:40%; padding-left:6px">
                        <v-text-field
                          label="Catatan"
                          dense
                          outlined
                          v-model="add.input.productRecipeNote[item.product_id]"
                          hide-details
                          :loading="loading">
                        </v-text-field>
                      </td>
                    </tr>
                  </table>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <small class="ml-3">Isian bertanda (*) wajib diisi</small>
            <v-spacer></v-spacer>
            <v-btn
              class="my-blue-button"
              rounded
              @click="doCreate()"
              :loading="loading"
              ><v-icon class="mr-2">mdi-content-save</v-icon>Simpan</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </section>
</template>

<script>
export default {
  props:{
    product: Array,
    ingredients: Array
  },
  data(){
    return{
      loading: false,
      add: {
        input: {
          masterProductId: "",
          arrayProductRecipe: [],
          productRecipeQty: {},
          productRecipeNote: {},
        },
        feedback:{
          data: {
            masterProductId: "",
            arrayProductRecipe: [],
            productRecipeQty: {},
            productRecipeNote: {},
          }
        }
      }
    }
  },
  methods:{
    async doCreate() {
      let data = {}
      let input = this.add.input
      data.productId = input.masterProductId
      data.productJson = []
      input.arrayProductRecipe.forEach(element => {
        let dataProduct = {
          recipe_id : element.product_id,
          qty: input.productRecipeQty[element.product_id],
          note: input.productRecipeNote[element.product_id] ? input.productRecipeNote[element.product_id] : '',
          unit: element.product_unit
        }
        data.productJson.push(dataProduct)
      });
      data.productJson = JSON.stringify(data.productJson)
      this.loading = true;
      await this.axios
        .post("recipe/create", data)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.$store.state.dialogAddRecipe = false
              this.$emit(`addResult`, {
                snackbar: {
                  status: "success",
                  msg: data.msg,
                },
                refresh: "recipeGrid",
              })
              break;
            case "validation":
              this.created.feedback = data.msg;
              break;
            case "failed":
              this.$emit(`addResult`, {
                snackbar: {
                  status: "error",
                  msg: data.msg,
                },
                refresh: "recipeGrid",
              })
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.loading = false;
    },

    resetForm(){
      let defaultInput = {
        name: "",
        purchasePrice: 0,
        typeDiscount: 0,
        unit: "",
        typeProduct: "Persediaan",
        typeSales: "",
        isNotSale: "",
        category: "",
        price: 0,
        valueDiscount: 0,
        weight: 0,
        description: "",
        isStockReduction: "",
        currentStock: 0,
        minStock: 0,
        img:""
      }

      this.add.input = Object.assign({},defaultInput)
    },

    closeDialogCreated(){
      this.$store.state.dialogAddRecipe = false
    }
  }
}
</script>

<style>

</style>