<template>
  <v-dialog scrollable v-model="$store.state.dialogDetailRecipe" persistent max-width="600">
    <v-card class="rounded">
      <v-card-title>
        <h4>Komposisi Produk ({{dataDetail.product_name}})</h4>
        <v-spacer></v-spacer>
        <v-btn
          depressed
          icon
          @click="closeDialogCDetail()"
        >
          <v-icon>mdi-close-thick</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text style="height: 200px;">
        <v-container>
          <v-row>
            <table 
              v-for="(item,index) in dataDetail.recipe_detail" :key="index" 
              style="width:100%"
              class="body-1">
              <tr>
                <td>
                  {{index + 1}}.
                </td>
                <td>
                  {{item.product_name}}
                </td>
                <td>
                  {{$helpers.numberFormat(item.product_composition_qty, 0, ",", ".")}}
                  ({{item.product_composition_unit ? item.product_composition_unit: 'Unit'}})
                </td>
                <td>
                  {{item.product_composition_note}}
                </td>
              </tr>
            </table>
          </v-row>
        </v-container>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    dataDetail: Object
  },
  data(){
    return{
      
    }
  },
  methods:{
    closeDialogCDetail(){
      this.$store.state.dialogDetailRecipe = false
    }
  }
}
</script>

<style>

</style>