<template>
  <section>
    <v-dialog scrollable v-model="$store.state.dialogUpdateRecipe" persistent max-width="600">
      <v-form ref="formCreate" @keyup.native.enter="doCreate()">
        <v-card class="rounded">
          <v-card-title>
            <h4>Ubah Resep Produk</h4>
            <v-spacer></v-spacer>
            <v-btn
              depressed
              icon
              :disabled="loading"
              @click="closeDialogCreated()"
            >
              <v-icon>mdi-close-thick</v-icon>
            </v-btn>
          </v-card-title>
          <v-card-text style="height: 500px;">
            <v-container>
              <!-- Update Form -->
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="update.input.masterProductName"
                    filled
                    dense
                    readonly
                    return-string
                    :loading="loading"
                    autofocus
                    label="Nama Produk *"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" class="pb-0">
                  <v-autocomplete
                    v-model="update.input.arrayProductRecipe"
                    :items="ingredients"
                    item-text="product_name" 
                    item-value="product_id"
                    filled
                    dense
                    clearable
                    return-object
                    :loading="loading"
                    autofocus
                    small-chips
                    multiple
                    label="Nama Bahan *">
                  </v-autocomplete>
                </v-col>
                <v-col cols="12" class="pt-0">
                  <table style="width:100%; margin-top:1rem" v-for="(item, index) in update.input.arrayProductRecipe" :key="index">
                    <tr>
                      <td>
                        <p class="font-weight-bold">{{item.product_name}} ({{item.product_unit}})</p>
                      </td>
                    </tr>
                    <tr>
                      <td style="width:40%; padding-right:6px">
                        <v-currency-field
                          id="right"
                          dense
                          outlined
                          label="Kuantitas *"
                          onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                          v-model="update.input.productRecipeQty[item.product_id]"
                          required
                          hide-details
                          :loading="loading"/>
                      </td>
                      <td style="width:40%; padding-left:6px">
                        <v-text-field
                          label="Catatan"
                          dense
                          outlined
                          v-model="update.input.productRecipeNote[item.product_id]"
                          hide-details
                          :loading="loading">
                        </v-text-field>
                      </td>
                    </tr>
                  </table>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <small class="ml-3">Isian bertanda (*) wajib diisi</small>
            <v-spacer></v-spacer>
            <v-btn
              class="my-blue-button"
              rounded
              @click="doUpdate()"
              :loading="loading"
              ><v-icon class="mr-2">mdi-content-save</v-icon>Simpan</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </section>
</template>

<script>
export default {
  props: {
    data: Object,
    product: Array,
    ingredients: Array
  },
  data(){
    return{
      loading: false,
      update:{
        input: {
          masterProductName: "",
          arrayProductRecipe: [],
          productRecipeQty: {},
          productRecipeNote: {},
        },
        feedback:{
          data: {
            masterProductName: "",
            arrayProductRecipe: [],
            productRecipeQty: {},
            productRecipeNote: {},
          }
        }
      }
    }
  },
  watch:{
    "$store.state.dialogUpdateRecipe": {
      handler(val) {
        if (val) {
          this.setUpdateData();
        }
      },
    },
  },
  methods:{
    setUpdateData(){
      this.update.input.masterProductName = this.data.product_name
      this.update.input.arrayProductRecipe = this.data.recipe_detail
      this.data.recipe_detail.forEach(element => {
        element.product_unit = element.product_composition_unit;
        element.product_id = element.product_composition_recipe_id;
        this.update.input.productRecipeQty[
          element.product_composition_recipe_id
        ] = element.product_composition_qty
        this.update.input.productRecipeNote[
          element.product_composition_recipe_id
        ] = element.product_composition_note
      })
    },

    async doUpdate() {
      let data = {}
      let input = this.update.input
      data.productId = this.data.product_composition_master_id
      data.productJson = []
      input.arrayProductRecipe.forEach(element => {
        let dataProduct = {
          recipe_id : element.product_id,
          qty: input.productRecipeQty[element.product_id],
          note: input.productRecipeNote[element.product_id] ? input.productRecipeNote[element.product_id] : '',
          unit: element.product_unit
        }
        data.productJson.push(dataProduct)
      });
      data.productJson = JSON.stringify(data.productJson)
      this.loading = true;
      await this.axios
        .post("recipe/update", data)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.$store.state.dialogUpdateRecipe = false;
              this.$emit(`addResult`, {
                snackbar: {
                  status: "success",
                  msg: data.msg,
                },
                refresh: "recipeGrid",
              });
              break;
            case "validation":
              this.edit.feedback = data.msg;
              break;
            case "failed":
              this.$emit(`addResult`, {
                snackbar: {
                  status: "error",
                  msg: data.msg,
                },
                refresh: "recipeGrid",
              });
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.loading = false;
    },

    closeDialogCreated(){
      this.$store.state.dialogUpdateRecipe = false
    }
  }
}
</script>

<style>

</style>